<template v-wow class="zoomIn">
<div>
<paginate ref="paginator" name="register.question" :list="register.question" :per="1">
<div class="test_block" v-for="q in paginated('register.question')" :key="q.id">
    <b-container>
        <b-row>
            <b-col md="12">
                <h2 class="true_point">Пройдите тест чтобы закончить регистрацию</h2>
            </b-col>
        </b-row>
    </b-container>
    <b-container>
        <b-row>
            <b-col md="12">
              <h2>Вопрос №{{q.id}}</h2>
              <h3>{{q.content}}</h3>
              <span class="input_descr_reg">Ваш ответ:</span>
              <input v-model="question_id" type="text" name="" :id="q.id" class="input_form wrap_input">
            </b-col>
        </b-row>
    </b-container>
    <b-container>
        <b-row class="m_0" >
            <b-col md="12" @click="goNextPage(q.id)" class="test_wrap_next left-arrow">
                <h3 class="test_go_next">Следующий вопрос</h3>
            </b-col>
        </b-row>
        <b-row class="m_0">
            <b-col md="12" @click="goPrevPage(q.id)" class="test_cancel right-arrow">
                <h3 class="test_cancel_descr">Назад</h3>
            </b-col>
        </b-row>
        <!-- <b-row class="m_0">
            <b-col md="12" @click="goNextPage(q.id)" class="test_wrap_next left-arrow">
                <h3 class="test_go_next">Следующий вопрос</h3>
            </b-col>
        </b-row> -->
    </b-container>
</div>
</paginate>
    <b-container>
        <b-row>
            <b-col md="8">
                <paginate-links for="register.question" :list="register.question"
                                                    :show-step-links="false"
                                                    :limit="1"
                            class="pagination_test"></paginate-links>
            </b-col>
        </b-row>
    </b-container>
<registerModal v-if="showModal"></registerModal>
</div>

</template>

<script>
import axios from 'axios'
import registerModal from '@/components/registerTest/registrationResultModal'
export default {
    data(){
        return{
            question_id: '',
            showModal: false,
            paginate: ['register.question'],
            register: {
                question: []
            }
        }
    },
    mounted(){
        axios
          .get('http://bionorika.uww.asia/api/users/questions', {
            headers: {
              'Content-Language': 'ru',
              Authorization: `Bearer ${localStorage.retoken}`
            }
          })
          .then(res => this.register.question = res.data.data)
        //.then(response => console.log(response.data.data))

    },
    methods: {
        goNextPage(id){
            id = id + 1;
            if(id <= 5){
              this.$refs.paginator.goToPage(id);
            }else if(id > 5){
              this.showModal = true
            }
            const headers = {
              'Content-Language': 'en',
              'Accept' : 'application/json',
              'Authorization': 'Bearer ' + localStorage.retoken
            }
            const data = {
              question_1: this.question_id,
              question_2: this.question_id,
              question_3: this.question_id,
              question_4: this.question_id,
              question_5: this.question_id
            }

            if (id > 5) {
                axios
                .post('http://bionorika.uww.asia/api/users/answers', data, {headers: headers})
                .then(res => console.log(res))
            }

            this.question_id = ''
        },
        goPrevPage(id){
            id = id - 1;
            if(id >= 1){
                this.$refs.paginator.goToPage(id);
            }
        },
        reset() {
            this.$store.commit('reset')
        }
    },
    components: {
      registerModal
    }
}
</script>

<style>
    .pagination_test>.number{
        display: inline-flex;
        width: 50px;
        height: 60px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-shadow: 0px 4px 4px 0px #CCF;
        box-shadow: 0px 4px 4px 0px #CCF;
        margin: 0px 5px;
        border-radius: 5px;
    }
    .pagination_test>.active{
        background-color: #003c71 !important;
        color: #fff !important;
    }
    .wrap_input{
      margin: 5px 0px 30px 0px;
    }
    .input_descr_reg{
      position: relative;
      display: block;
      padding-top: 30px;
    }
</style>
