<template>
   <div v-wow class="my_point zoomIn" v-if="false">
        <b-container>
            <b-row>
                <b-col md="12">
                    <h2 class="true_point">Полученные баллы</h2>
                </b-col>
            </b-row>
        </b-container>
        <div class="point_card">
            <b-container>
                <b-row>
                    <b-col md="12" class="point_card_h2">
                        <h2>Тест №1</h2>
                    </b-col>
                </b-row>
            </b-container>
            <b-container>
                <b-row>
                    <b-col md="3" class="point_card_box">
                        <div class="point_card_descr">
                            <h3>Попытка №1</h3>
                            <div class="point_bable">
                                <span>не сдал</span>
                            </div>
                        </div>
                        <b-row class="row_items">
                            <h2 class="point_ball_1">6 баллов</h2>
                        </b-row>
                    </b-col>
                    <b-col md="3"  class="point_card_box">
                        <div class="point_card_descr">
                            <h3>Попытка №2</h3>
                            <div class="point_bable">
                                <span>успешно</span>
                            </div>
                        </div>
                        <b-row class="row_items">
                            <h2 class="point_ball_2">10 баллов</h2>
                        </b-row>
                    </b-col>
                    <b-col md="3" class="point_card_box">
                        <div class="point_card_descr">
                            <h3>Попытка №3</h3>
                        </div>
                        <b-row class="row_items">
                            <h2 class="point_ball_3">не использована</h2>
                        </b-row>
                    </b-col>
                </b-row>
            </b-container>
        </div>

        <div class="point_card">
            <b-container>
                <b-row>
                    <b-col md="12" class="point_card_h2">
                        <h2>Тест №2</h2>
                    </b-col>
                </b-row>
            </b-container>
            <b-container>
                <b-row>
                    <b-col md="3" class="point_card_box">
                        <div class="point_card_descr">
                            <h3>Попытка №1</h3>
                            <div class="point_bable">
                                <span>не сдал</span>
                            </div>
                        </div>
                        <b-row class="row_items">
                            <h2 class="point_ball_1">2 балла</h2>
                        </b-row>
                    </b-col>
                    <b-col md="3" class="point_card_box">
                        <div class="point_card_descr">
                            <h3>Попытка №2</h3>
                        </div>
                        <b-row class="row_items">
                            <h2 class="point_ball_3">не использована</h2>
                        </b-row>
                    </b-col>
                    <b-col md="3" class="point_card_box">
                        <div class="point_card_descr">
                            <h3>Попытка №3</h3>
                        </div>
                        <b-row class="row_items">
                            <h2 class="point_ball_3">не использована</h2>
                        </b-row>
                    </b-col>
                </b-row>
            </b-container>
        </div>

        <div class="point_card">
            <b-container>
                <b-row>
                    <b-col md="12"  class="point_card_h2">
                        <h2>Тест №3</h2>
                    </b-col>
                </b-row>
            </b-container>
            <b-container>
                <b-row>
                    <b-col md="3" class="point_card_box">
                        <div class="point_card_descr">
                            <h3>Попытка №1</h3>
                        </div>
                        <b-row class="row_items">
                            <h2 class="point_ball_3">не использована</h2>
                        </b-row>
                    </b-col>
                    <b-col md="3" class="point_card_box">
                        <div class="point_card_descr">
                            <h3>Попытка №2</h3>
                        </div>
                        <b-row class="row_items">
                            <h2 class="point_ball_3">не использована</h2>
                        </b-row>
                    </b-col>
                    <b-col md="3" class="point_card_box">
                        <div class="point_card_descr">
                            <h3>Попытка №3</h3>
                        </div>
                        <b-row class="row_items">
                            <h2 class="point_ball_3">не использована</h2>
                        </b-row>
                    </b-col>
                </b-row>
            </b-container>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
