<template>
  <div v-wow class="block_acc_wrap zoomIn" v-if="false">
    <div class="block_acc_nav_descr">
        <b-container>
            <b-row>
                <b-col md="12" xl="12" lg="12" xs="12" sm="12" class="block_acc_nav_descr_h2">
                    <h2>Пройденные тесты</h2>
                </b-col>
            </b-row>
        </b-container>
    </div>
    <b-container class="acc_card_block">
        <b-row class="pd_0 m_0">
            <b-col md="3" xl="3" lg="3" xs="12" sm="12" class="acc_card">
                <div class="acc_card_descr">
                    <h3>Тест №1</h3>
                    <div class="acc_bable">
                        <span>не сдал</span>
                    </div>
                </div>
                <b-row  class="acc_ball m_0">
                    <h2 class="acc_ball_1">6 баллов</h2>
                    <a href="">пройти тест еще раз</a>
                </b-row>
            </b-col>
            <b-col md="3" xl="3" lg="3" xs="12" sm="12" class="acc_card">
                <div class="acc_card_descr">
                    <h3>Тест №2</h3>
                    <div class="acc_bable">
                        <span>успешно</span>
                    </div>
                </div>
                <b-row class="acc_ball m_0">
                    <h2 class="acc_ball_2">10 баллов</h2>
                    <a href="">пройти тест еще раз</a>
                </b-row>
            </b-col>
            <b-col md="3" xl="3" lg="3" xs="12" sm="12" class="acc_card">
                <div class="acc_card_descr">
                    <h3>Тест №3</h3>
                </div>
                <b-row class="acc_ball m_0">
                    <h2 class="acc_ball_3">недоступен</h2>
                </b-row>
            </b-col>
        </b-row>
    </b-container>
</div>
</template>

<script>
export default {

}
</script>

<style>

</style>
