<template v-wow class="zoomIn">
<div>
<paginate ref="paginator" name="quiz.question" :list="quiz.question" :per="1">
<div class="test_block" v-for="q in paginated('quiz.question')" :key="q.id">
    <b-container>
        <b-row>
            <b-col md="12">
                <h2 class="true_point">Тест по лекции №1</h2>
                <h3 class="blue_h3">Вопрос №{{q.id}}</h3>
                <h3 class="question_descr">{{q.title}}</h3>
            </b-col>
        </b-row>
    </b-container>
    <b-container>
        <b-row>
            <b-col md="12">
                <form class="radio_form" action="">
                    <div v-for="a in q.answers" :key="a.id">
                        <input type="radio" class="radio" :id="a.value" v-model="a.checked" @click="$store.state.correctArr.push(a.correct)" name="group"/>
                        <label class="radio_test" :for="a.value">{{a.text}}</label>
                    </div>
                </form>
            </b-col>
        </b-row>
    </b-container>
    <b-container>
        <b-row class="m_0" >
            <b-col md="12" @click="goNextPage(q.id)" class="test_wrap_next left-arrow">
                <h3 class="test_go_next">Следующий вопрос</h3>
            </b-col>
        </b-row>
        <b-row class="m_0">
            <b-col md="12" @click="goPrevPage(q.id)" class="test_cancel right-arrow">
                <h3 class="test_cancel_descr">Назад</h3>
            </b-col>
        </b-row>
        <!-- <b-row class="m_0">
            <b-col md="12" @click="goNextPage(q.id)" class="test_wrap_next left-arrow">
                <h3 class="test_go_next">Следующий вопрос</h3>
            </b-col>
        </b-row> -->
    </b-container>
</div>
</paginate>
    <b-container>
        <b-row>
            <b-col md="8">
                <paginate-links for="quiz.question" :list="quiz.question"
                                                    :show-step-links="false"
                                                    :limit="1"
                            class="pagination_test"></paginate-links>
            </b-col>
            <b-col md="4">
                <div class="times_test">Осталось времени:<strong> 23:45</strong></div>
            </b-col>
        </b-row>
    </b-container>
</div>
</template>

<script>
export default {
    data(){
        return{
            paginate: ['quiz.question'],
            quiz: {
                question: [
                    {
                        title: "Наименование вопроса 1",
                        id: 1,
                        answers: [
                            {
                                text: "Ответ номер 1",
                                value: 1,
                                correct: false,
                            },
                            {
                                text: "Ответ номер 2",
                                value: 2,
                                correct: false,
                            },
                            {
                                text: "Ответ номер 3",
                                value: 3,
                                correct: false,
                            },
                            {
                                text: "Ответ номер 4",
                                value: 4,
                                correct: true,
                            }
                        ]
                    },
                    {
                        title: "Наименование вопроса 2",
                        id: 2,
                        answers: [
                            {
                                text: "Ответ номер 1",
                                value: 5,
                                correct: false,
                            },
                            {
                                text: "Ответ номер 2",
                                value: 6,
                                correct: true,
                            },
                            {
                                text: "Ответ номер 3",
                                value: 7,
                                correct: false,
                            },
                            {
                                text: "Ответ номер 4",
                                value: 8,
                                correct: false,
                            }
                        ]
                    },
                    {
                        title: "Наименование вопроса 3",
                        id: 3,
                        answers: [
                            {
                                text: "Ответ номер 1",
                                value: 9,
                                correct: true,
                            },
                            {
                                text: "Ответ номер 2",
                                value: 10,
                                correct: false,
                            },
                            {
                                text: "Ответ номер 3",
                                value: 11,
                                correct: false,
                            },
                            {
                                text: "Ответ номер 4",
                                value: 12,
                                correct: false,
                            }
                        ]
                    },
                    {
                        title: "Наименование вопроса 4",
                        id: 4,
                        answers: [
                            {
                                text: "Ответ номер 1",
                                value: 13,
                                correct: false
                            },
                            {
                                text: "Ответ номер 2",
                                value: 14,
                                correct: true
                            },
                            {
                                text: "Ответ номер 3",
                                value: 15,
                                correct: false
                            },
                            {
                                text: "Ответ номер 4",
                                value: 16,
                                correct: false
                            }
                        ]
                    },
                    {
                        title: "Наименование вопроса 5",
                        id: 5,
                        answers: [
                            {
                                text: "Ответ номер 1",
                                value: 13,
                                correct: true
                            },
                            {
                                text: "Ответ номер 2",
                                value: 14,
                                correct: false
                            },
                            {
                                text: "Ответ номер 3",
                                value: 15,
                                correct: false
                            },
                            {
                                text: "Ответ номер 4",
                                value: 16,
                                correct: false
                            }
                        ]
                    },
                    {
                        title: "Наименование вопроса 6",
                        id: 6,
                        answers: [
                            {
                                text: "Ответ номер 1",
                                value: 13,
                                correct: true
                            },
                            {
                                text: "Ответ номер 2",
                                value: 14,
                                correct: false
                            },
                            {
                                text: "Ответ номер 3",
                                value: 15,
                                correct: false
                            },
                            {
                                text: "Ответ номер 4",
                                value: 16,
                                correct: false
                            }
                        ]
                    },
                    {
                        title: "Наименование вопроса 7",
                        id: 7,
                        answers: [
                            {
                                text: "Ответ номер 1",
                                value: 13,
                                correct: false
                            },
                            {
                                text: "Ответ номер 2",
                                value: 14,
                                correct: true
                            },
                            {
                                text: "Ответ номер 3",
                                value: 15,
                                correct: false
                            },
                            {
                                text: "Ответ номер 4",
                                value: 16,
                                correct: false
                            }
                        ]
                    },
                    {
                        title: "Наименование вопроса 8",
                        id: 8,
                        answers: [
                            {
                                text: "Ответ номер 1",
                                value: 13,
                                correct: false
                            },
                            {
                                text: "Ответ номер 2",
                                value: 14,
                                correct: false
                            },
                            {
                                text: "Ответ номер 3",
                                value: 15,
                                correct: true
                            },
                            {
                                text: "Ответ номер 4",
                                value: 16,
                                correct: false
                            }
                        ]
                    },
                    {
                        title: "Наименование вопроса 9",
                        id: 9,
                        answers: [
                            {
                                text: "Ответ номер 1",
                                value: 13,
                                correct: false
                            },
                            {
                                text: "Ответ номер 2",
                                value: 14,
                                correct: false
                            },
                            {
                                text: "Ответ номер 3",
                                value: 15,
                                correct: true
                            },
                            {
                                text: "Ответ номер 4",
                                value: 16,
                                correct: false
                            }
                        ]
                    },
                    {
                        title: "Наименование вопроса 10",
                        id: 10,
                        answers: [
                            {
                                text: "Ответ номер 1",
                                value: 13,
                                correct: false
                            },
                            {
                                text: "Ответ номер 2",
                                value: 14,
                                correct: false
                            },
                            {
                                text: "Ответ номер 3",
                                value: 15,
                                correct: false
                            },
                            {
                                text: "Ответ номер 4",
                                value: 16,
                                correct: true
                            }
                        ]
                    }
                ]
            }
        }
    },
    created(){
        this.reset();
        // fetch('../../../../public/json/testBlock.json')
        //     .then(res => res.json())
        //     .then((data) => {
        //         console.log(data.question)
        //     })
    },
    methods: {
        goNextPage(id){
            id = id + 1;
            console.log(this.$store.state.correctArr)
            if(id <= 10){
                this.$refs.paginator.goToPage(id);
            }else if(id > 10){
                this.$router.push({path:'/account/testResult'})
            }
        },
        goPrevPage(id){
            id = id - 1;
            if(id >= 1){
                this.$refs.paginator.goToPage(id);
            }
        },
        reset() {
            this.$store.commit('reset')
        }
    },
}
</script>

<style>
    .pagination_test>.number{
        display: inline-flex;
        width: 50px;
        height: 60px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-shadow: 0px 4px 4px 0px #CCF;
        box-shadow: 0px 4px 4px 0px #CCF;
        margin: 0px 5px;
        border-radius: 5px;
    }
    .pagination_test>.active{
        background-color: #003c71 !important;
        color: #fff !important;
    }
</style>
