<template>
  <div v-wow class="video_prosmotr zoomIn">
    <b-container>
        <b-row>
            <b-col md="12">
                <h2 class="true_point">Просмотренные видеоуроки</h2>
                <h3 class="blue_h3">Видеолекция №1</h3>
            </b-col>
        </b-row>
    </b-container>
    <b-container>
        <b-row>
                <b-col md="6" style="overflow: hidden">
                    <img v-if="playImgProsmotr" @click="playImgProsmotr = !playImgProsmotr, play()" class="playBtn" src="../../../assets/img/play-button.png" alt="">
                    <video class="playVideo" ref="videoRef" preload="metadata" @click="playImgProsmotr = !playImgProsmotr, play()" width="100%">
                        <source src="../../../assets/img/Bionorica_SE.mp4#t=0.1" type='video/ogg; codecs="theora, vorbis"'>
                        <source src="../../../assets/img/Bionorica_SE.mp4#t=0.1" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                        <source src="../../../assets/img/Bionorica_SE.mp4#t=0.1" type='video/webm; codecs="vp8, vorbis"'>
                    </video>
                </b-col>
                <b-col md="6">
                    <div class="video_descr">
                        <h3>Описание видеолекции</h3>
                        <p>Лекарственные растительные препараты компании «Бионорика СЕ» производят по технологии, основанной на концепции фитониринга (phytoneering). Что такое фитониринг и в чем его принцип?</p>
                    </div>
                </b-col>
        </b-row>
    </b-container>
    <b-container v-if="false">
        <b-row class="m_0">
            <b-col md="12" @click="showVideoModal = !showVideoModal" class="test_wrap test_click_1">
                <h3 class="test_go">Пройти тест к видеолекции №1</h3>
            </b-col>
        </b-row>
    </b-container>
    <videoModal v-if="showVideoModal" @closeVideoModal="showVideoModal = false"></videoModal>
</div>

</template>

<script>
import videoModal from '@/components/accountComponents/videoModal/videoModal'

export default {
    components: {
        videoModal
    },
    data(){
        return{
            showVideoModal: false,
            playImgProsmotr: true
        }
    },
    methods: {
        play(event){
            let a = this.$refs.videoRef
            if(a.paused){
                a.play();
            }else{
                a.pause();
            }
        }
    }
}
</script>

<style>

</style>
