<template>
  <div v-wow class="videouroki zoomIn">
    <div class="video_uroki_block">
        <b-container>
            <b-row>
                <b-col md="12">
                    <h2 class="true_point">Видеоуроки</h2>
                    <h3 class="blue_h3">Видеолекция №1</h3>
                </b-col>
            </b-row>
        </b-container>
        <b-container>
            <b-row>
                <b-col md="6" style="overflow: hidden">
                    <img class="playBtn" v-if="playImg1" @click="play2(), playImg1 = !playImg1" src="../../../assets/img/play-button.png" alt="">
                    <video class="playVideo" ref="videoRef1" preload="metadata" @click="play2(), playImg1 = !playImg1" width="100%">
                        <source src="../../../assets/img/Bionorica_SE.mp4#t=0.1" type='video/ogg; codecs="theora, vorbis"'>
                        <source src="../../../assets/img/Bionorica_SE.mp4#t=0.1" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                        <source src="../../../assets/img/Bionorica_SE.mp4#t=0.1" type='video/webm; codecs="vp8, vorbis"'>
                    </video>
                </b-col>
                <b-col md="6">
                    <div class="video_descr">
                        <h3>Описание видеолекции</h3>
                        <p>Лекарственные растительные препараты компании «Бионорика СЕ» производят по технологии, основанной на концепции фитониринга (phytoneering). Что такое фитониринг и в чем его принцип?</p>
                    </div>
                </b-col>
            </b-row>
        </b-container>
        <b-container>
            <b-row v-if="false" class="m_0">
                <b-col md="12" @click="showVideoModal = !showVideoModal" class="test_wrap test_click_2">
                    <h3 class="test_go">Пройти тест к видеолекции №1</h3>
                </b-col>
            </b-row>
        </b-container>
    </div>

    <div class="video_uroki_block" v-if="false">
        <b-container>
            <b-row>
                <b-col md="12">
                    <h3 class="blue_h3">Видеолекция №2</h3>
                </b-col>
            </b-row>
        </b-container>
        <b-container>
            <b-row>
                <b-col md="6">
                    <img v-if="playImg2" @click="play3(), playImg2 = !playImg2" class="playBtn" src="../../../assets/img/play-button.png" alt="">
                    <video class="playVideo" ref="videoRef2" @click="play3(), playImg2 = !playImg2" width="100%" poster="../../../assets/img/06_Aufgearbeitete_Farbstoffproben_Labor.png">
                        <source src="../../../assets/img/stockvideo.mp4" type='video/ogg; codecs="theora, vorbis"'>
                        <source src="../../../assets/img/stockvideo.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                        <source src="../../../assets/img/stockvideo.mp4" type='video/webm; codecs="vp8, vorbis"'>
                    </video>
                </b-col>
                <b-col md="6">
                    <div class="video_descr">
                        <h3>Описание видеолекции</h3>
                        <p>Лекарственные растительные препараты компании «Бионорика СЕ» производят по технологии, основанной на концепции фитониринга (phytoneering). Что такое фитониринг и в чем его принцип?</p>
                    </div>
                </b-col>
            </b-row>
        </b-container>
        <b-container>
            <b-row>
                <b-col md="12" class="test_wrap_non">
                    <h3 class="test_non">Прохождение теста недоступно</h3>
                </b-col>
            </b-row>
        </b-container>
    </div>

    <div class="video_uroki_block" v-if="false">
        <b-container>
            <b-row>
                <b-col md="12">
                    <h3 class="blue_h3">Видеолекция №3</h3>
                </b-col>
            </b-row>
        </b-container>
        <b-container>
            <b-row>
                <b-col md="6">
                    <img v-if="playImg3" @click="play(), playImg3 = !playImg3" class="playBtn" src="../../../assets/img/play-button.png" alt="">
                    <video class="playVideo" ref="videoRef" @click="play(), playImg3 = !playImg3" width="100%" poster="../../../assets/img/01_Probenvorbereitung_Labor.png">
                        <source src="../../../assets/img/stockvideo.mp4" type='video/ogg; codecs="theora, vorbis"'>
                        <source src="../../../assets/img/stockvideo.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                        <source src="../../../assets/img/stockvideo.mp4" type='video/webm; codecs="vp8, vorbis"'>
                    </video>
                </b-col>
                <b-col md="6">
                    <div class="video_descr">
                        <h3>Описание видеолекции</h3>
                        <p>Лекарственные растительные препараты компании «Бионорика СЕ» производят по технологии, основанной на концепции фитониринга (phytoneering). Что такое фитониринг и в чем его принцип?</p>
                    </div>
                </b-col>
            </b-row>
        </b-container>
        <b-container>
            <b-row>
                <div class="col-md-12 test_wrap_non">
                    <h3 class="test_non">Прохождение теста недоступно</h3>
                </div>
            </b-row>
        </b-container>
    </div>
    <videoModal v-if="showVideoModal" @closeVideoModal="showVideoModal = false"></videoModal>
</div>
</template>

<script>
import videoBlock from '@/components/accountComponents/videoComponent/videoBlock'
import videoModal from '@/components/accountComponents/videoModal/videoModal'

export default {
    data(){
        return{
            showVideoModal: false,
            playImg1: true,
            playImg2: true,
            playImg3: true
        }
    },
    components: {
        videoBlock,
        videoModal
    },
    methods: {
        play(event){
            let a = this.$refs.videoRef
            if(a.paused){
                a.play();
            }else{
                a.pause();
            }
        },
        play2(event){
            let b = this.$refs.videoRef1
            if(b.paused){
                b.play();
            }else{
                b.pause();
            }
        },
        play3(event){
            let b = this.$refs.videoRef2
            if(b.paused){
                b.play();
            }else{
                b.pause();
            }
        }
    }
}
</script>

<style>

</style>
