<template>
  <footer class="slideInLeft" v-wow data-wow-duration="2.5s">
        <b-container>
            <b-row>
                <b-col md="12" sm="12" cols="12" xl="12" lg="12">
                    <b-row>
                        <b-col md-4 xl="4" sm="12" cols="12" lg="4" class="copyright">
                            <p>&copy; Бионорика — все права защищены 2020</p>
                        </b-col>
                        <b-col md="4" xl="4" sm="12" cols="12" lg="4"></b-col>
                        <b-col md="4" xl="4" sm="12" cols="12" lg="4" class="alux">
                            <p>Разработано в</p><a href=""><img src="../../assets/img/logo-services.png" alt=""></a>
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>
        </b-container>
    </footer>
</template>

<script>
export default {

}
</script>

<style scoped>
    .alux>p, .alux>a{
    display: inline-block;
    }

    .alux{
    text-align: right;
    }

    .alux>p, .copyright>p{
    font-size: 14px;
    color: #c6c7c8;
    }

    .alux>a{
    padding-left: 15px;
    }
    .m_0{
    margin: 0;
    }
</style>
