<template>
    <div class="blue_wrap">

        <b-container>

            <b-row class="blue_wrap_flex">

                <!-- <b-col md="12" sm="12" xl="12" lg="12" cols="12" > -->

                    <b-col md="12" lg="1" xl="1" sm="12" cols="12">

                        <div class="ft_logo"><img src="../../assets/img/logo.jpg" alt=""></div>

                    </b-col>

                    <b-col md="12" xl="3" cols="12" sm="12" lg="3" class="p_ft zoomIn" v-wow data-wow-duration="2s">

                        <p>Ведущий мировой производитель лекарственных средств</p>

                    </b-col>

                    <b-col md="3" xl="2" cols="12" sm="12" lg="2">

                        <b-row>

                            <b-col md="6" sm="12" xl="6" cols="6" lg="6" class="txt_center">

                                <div class="soc_icon zoomIn" v-wow data-wow-duration="2s">

                                    <a href="#">

                            <img src="../../assets/img/insta_icon.png" alt="">

                          </a>

                                </div>

                            </b-col>

                            <b-col md="6" sm="12" xl="6" cols="6" lg="6" class="txt_center">

                                <div class="soc_icon zoomIn" v-wow data-wow-duration="2s">

                                    <a href="#">

                            <img src="../../assets/img/facebook.png" alt="">

                          </a>

                                </div>

                            </b-col>

                        </b-row>



                    </b-col>

                    <b-col md="4" xl="3" sm="12" lg="3" cols="12">

                        <div class="geo_block zoomIn" v-wow data-wow-duration="2s">

                            <img src="../../assets/img/geo_img.png" alt="">

                            <h2>Наш адрес</h2>

                            <p>Алматы, ул. Красная 19</p>

                        </div>

                    </b-col>

                    <b-col md="4" xl="3" sm="12" lg="3" cols="12">

                        <div class="phone_block zoomIn" v-wow data-wow-duration="2s">

                            <img src="../../assets/img/phone.png" alt="">

                            <h2>+7 (727) 317-16-98</h2>

                            <p>info@mail.ru</p>

                        </div>

                    </b-col>

                <!-- </b-col> -->

            </b-row>

        </b-container>

    </div>
</template>

<script>
export default {

}
</script>

<style>
.ft_logo>img{
  width: 100%;
}
.blue_wrap {
    background-color: #003c71;
    width: 100%;
    min-height: 120px;
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.p_ft {
    color: #fff;
    font-size: 14px;
    font-family: "ProximaNovaRegular";
}

.blue_wrap_flex {
    display: flex;
    align-items: center;
}

.soc_icon {
    background-color: #fff;
    border-radius: 5px;
    width: 75px;
    height: 55px;
    margin: auto;
}

.soc_icon>a {
    text-align: center;
    display: block;
    padding: 12px 0px;
}

.txt_center {
    text-align: center;
}

.geo_block,
.phone_block {
    color: #fff;
    text-align: right;
}

.geo_block h2,
.phone_block h2 {
    display: inline;
    padding-left: 10px;
    font-size: 24px;
    font-family: "ProximaNovaBold";
}

.geo_block p,
.phone_block p {
    font-size: 16px;
    margin: 0;
}

.soc_icon:hover {
    transform: scale(0.9);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
</style>
