<template>
  <section class="block_acc">
    <b-container class="pd_0">
        <b-row>
            <b-col md="12" xl="12" lg="12" xs="12" sm="12" class="pd_0 m_0">
                <div class="block_acc_descr">
                    <div class="block_acc_nav">
                        <ul>
                            <li @click="isActive = 1" :class="[isActive == 1 ? activeTab : '']" class="edit"><router-link to="/account" class="img_active_edit"><img src="../../assets/img/edit_noactiv.png" alt=""><img class="icons_edit" src="../../assets/img/edit.png" alt="">Пройденные тесты</router-link></li>
                            <li @click="isActive = 2" :class="[isActive == 2 ? activeTab : '']" class="money"><router-link to="/account/mypoint" class="icons_money"><img src="../../assets/img/money.png" alt=""><img class="img_active_money" src="../../assets/img/money_active.png" alt="">Полученные баллы <span class="number_ball" v-if="false">27</span></router-link></li>
                            <li @click="isActive = 3" :class="[isActive == 3 ? activeTab : '']" class="album"><router-link to="/account/videoProsmotr" class="icons_album"><img src="../../assets/img/album.png" alt=""><img class="img_active_album" src="../../assets/img/album_active.png" alt="">Просмотренные видеоуроки</router-link></li>
                            <li @click="isActive = 4" :class="[isActive == 4 ? '' : '']" class="play_btn"><router-link to="/account/videoLesson"><img src="../../assets/img/play-button_nav.png" alt="">Видеоуроки</router-link></li>
                        </ul>
                    </div>
                    <router-view />
                    <!-- Пройденные тесты -->
                    <!-- <passedTest></passedTest> -->
                    <!-- Полученные баллы -->
                    <!-- <myPoint></myPoint> -->
                    <!-- Просмотренные видеоуроки -->
                    <!-- <videoProsmotr></videoProsmotr> -->
                    <!-- Видеоуроки -->
                    <!-- <videoLesson></videoLesson> -->
                    <!--TEST-->
                    <!-- <testBlock></testBlock> -->
                    <!--TEST RESULT-->
                    <!-- <testResult></testResult> -->
                </div>
            </b-col>
        </b-row>
    </b-container>
</section>
</template>

<script>
import myPoint from '@/components/accountComponents/accountBlockComponents/myPoint'
import passedTest from '@/components/accountComponents/accountBlockComponents/passedTest'
import testBlock from '@/components/accountComponents/accountBlockComponents/testBlock'
import testResult from '@/components/accountComponents/accountBlockComponents/testResult'
import videoLesson from '@/components/accountComponents/accountBlockComponents/videoLesson'
import videoProsmotr from '@/components/accountComponents/accountBlockComponents/videoProsmotr'
import videoModal from '@/components/accountComponents/videoModal/videoModal'

export default {
    components: {
        myPoint,
        passedTest,
        testBlock,
        testResult,
        videoLesson,
        videoProsmotr
    },
    data(){
        return{
            isActive: 1,
            activeTab: "active-tab",
            activBlock: false,
        }
    },
    props:{
    },
    computed:{
        
    },
    
}
</script>

<style>

</style>