<template>
    <section class="acc_info">

        <b-container>

            <b-row>

                <b-col md="12" xl="12" lg="12" xs="12" sm="12">

                    <b-col md=3 class="pd_0">

                        <div class="acc_nav">

                            <router-link to="/">Главная</router-link> — Личный кабинет

                        </div>

                    </b-col>

                </b-col>

            </b-row>

            <b-row>

                <b-col md="12" xl="12" lg="12" xs="12" sm="12">

                    <h2 class="acc_h2">Личный кабинет</h2>

                </b-col>

            </b-row>

            <b-row class="acc_pt_top">

                <b-col md="1">
                  <div class="cilindr">
                    <h3>{{name[0]}}</h3>
                  </div>
                </b-col>

                <b-col md="6" class="descr_acc_name">

                    <h3>{{name}}</h3>

                    <p>{{direction}}</p>

                </b-col>

                <b-col md="1"></b-col>

                <b-col md="3" class="acc_link_pt_top">

                <router-link to="/profileEdit" class="acc_link">

                  <img src="../../assets/img/user_acc.png" alt />

                </router-link>
                <span @click="logout">
                  <router-link to="/" class="acc_link">

                  <img src="../../assets/img/logout.png" alt />

                </router-link>
                </span>


                </b-col>

            </b-row>

        </b-container>

    </section>
</template>

<script>
import axios from 'axios'
export default {
  data(){
    this.getUser().then(res => {
        this.name = res.data.fio
        this.direction = res.data.direction
        return res
    })
    return{
      name: '',
      direction: '',
      isRegistered: false,
    }
  },
  methods: {
    logout(){
      localStorage.removeItem('usertoken')
    },
    getUser(){
      return axios.get('http://bionorika.uww.asia/api/users/profile', {
        headers: {
          Authorization: `Bearer ${localStorage.usertoken}`
        }
      })
      .then(res => {
        return res.data
      })
      .catch(e => console(e))
    }
  },
};
</script>

<style>

</style>
