<template>
  <div class="modal_video">
    <div class="modal_overlay modal_video_overlay">
      <div class="modal_window fadeInDown" v-wow data-wow-iteration="1">
        <div class="modal_header">
          <span class="modal_title">Тест №1</span>
          <span class="modal_close modal_video_close" @click="$emit('closeVideoModal')"><img src="../../../assets/img/cancel.png" alt=""></span>
        </div>
        <div class="modal_body mt_top">
          <ul class="video_list">
              <li class="f5f8fa video_li"><span class="video_li_descr">Тема:</span> <span class="strong_descr">Наименование темы</span></li>
              <li class="video_li"><span class="video_li_descr">Количество вопросов:</span> <span class="strong_descr">10</span></li>
              <li class="f5f8fa video_li"><span class="video_li_descr">Количество попыток:</span> <span class="strong_descr">3</span></li>
              <li class="video_li"><span class="video_li_descr">Осталось попыток:</span> <span class="strong_descr">2</span></li>
              <li class="f5f8fa video_li"><span class="video_li_descr">Время на прохождение теста</span> <span class="strong_descr">40 минут</span></li>
              <li class="video_li"><span class="video_li_descr">Тест действителен:</span> <span class="strong_descr">с 1 марта 2019 по 4 мая 2019</span></li>
          </ul>
        </div>
        <div class="modal_footer">
          <ul class="video_footer">
              <li class="test" v-if="false"><router-link to="/account/testblock" >Пройти тест</router-link></li>
              <li class="videocollection"><router-link to="/account/videoLesson" @click="isActive = ''">Еще раз посмотреть видеолекцию</router-link></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data(){
    return{
        
    }
  },
} 
</script>

<style>

</style>