<template>
  <section class="second_slider fadeIn" v-wow data-wow-duration="2s">
      <b-container>
        <b-row>
          <b-col md="12" lg="12" xl="12" xs="12" sm="12">
            <div class="sec_prev"><img src="../../assets/img/left-arr.png" alt=""></div>
            <div class="sec_next"><img src="../../assets/img/right_arr.png" alt=""></div>
            <Slick class="second_slider_items" ref="slick" :options="slickOptions">
            <b-container>
                <b-row class="scnd_slider_items_descr">
                <b-col md="3" lg="3" xl="3" xs="12" sm="12" class="statia bounceInUp" v-wow data-wow-duration="2s">
                  <h3>Статьи<br>
                    из блога</h3>

                  <a href="#">Смотреть все</a>
                </b-col>
                <b-col md="3" lg="3" xl="3" xs="12" sm="12" class="blog_items bounceInUp" v-wow data-wow-duration="2s">
                  <img src="../../assets/img/blog_1.png" alt="">
                  <h3>Концепция фитониринга</h3>
                  <p>Концепция фитониринга (phytoneering; от латинского phytos -- растение и engineering -- инжиниринг, инновационные технологии)</p>
                </b-col>
                <b-col md="3" lg="3" xl="3" xs="12" sm="12" class="blog_items bounceInUp" v-wow data-wow-duration="2s">
                  <img src="../../assets/img/blog_2.png" alt="">
                  <h3>Правильно ли дышит<br>
                    ваш ребенок?</h3>
                  <p>Физиологически, т.е в норме, ребенок должен дышать через нос</p>
                </b-col>
                <b-col md="3" lg="3" xl="3" xs="12" sm="12" class="blog_items bounceInUp" v-wow data-wow-duration="2s">
                  <img src="../../assets/img/blog_3.png" alt="">
                  <h3>Часто и длительно<br>
                    болеющие дети (ЧДБ) – <br>
                    правда или миф?</h3>
                  <p>Ребенок опять подхватил простуду в садике уже 6-ой раз за год?</p>
                </b-col>
              </b-row>
            </b-container>
            <b-container>
             <b-row class="scnd_slider_items_descr">
                <b-col md="3" lg="3" xl="3" xs="12" sm="12" class="statia bounceInUp" v-wow data-wow-duration="2s">
                  <h3>Статьи<br>
                    из блога</h3>
                  <a href="#">Смотреть все</a>
                </b-col>
                <b-col md="3" lg="3" xl="3" xs="12" sm="12" class="blog_items bounceInUp" v-wow data-wow-duration="2s">
                  <img src="../../assets/img/blog_1.png" alt="">
                  <h3>Концепция фитониринга</h3>
                  <p>Концепция фитониринга (phytoneering; от латинского phytos -- растение и engineering -- инжиниринг, инновационные технологии)</p>
                </b-col>
                <b-col md="3" lg="3" xl="3" xs="12" sm="12" class="blog_items bounceInUp" v-wow data-wow-duration="2s">
                  <img src="../../assets/img/blog_2.png" alt="">
                  <h3>Правильно ли дышит<br>
                    ваш ребенок?</h3>
                  <p>Физиологически, т.е в норме, ребенок должен дышать через нос</p>
                </b-col>
                <b-col md="3" lg="3" xl="3" xs="12" sm="12" class="blog_items bounceInUp" v-wow data-wow-duration="2s">
                  <img src="../../assets/img/blog_3.png" alt="">
                  <h3>Часто и длительно<br>
                    болеющие дети (ЧДБ) – <br>
                    правда или миф?</h3>
                  <p>Ребенок опять подхватил простуду в садике уже 6-ой раз за год?</p>
                </b-col>
              </b-row>
            </b-container>
            <b-container>
                <b-row class="scnd_slider_items_descr">
                <b-col md="3" lg="3" xl="3" xs="12" sm="12" class="statia bounceInUp" v-wow data-wow-duration="2s">
                  <h3>Статьи<br>
                    из блога</h3>
                  <a href="#">Смотреть все</a>
                </b-col>
                <b-col md="3" lg="3" xl="3" xs="12" sm="12" class="blog_items bounceInUp" v-wow data-wow-duration="2s">
                  <img src="../../assets/img/blog_1.png" alt="">
                  <h3>Концепция фитониринга</h3>
                  <p>Концепция фитониринга (phytoneering; от латинского phytos -- растение и engineering -- инжиниринг, инновационные технологии)</p>
                </b-col>
                <b-col md="3" lg="3" xl="3" xs="12" sm="12" class="blog_items bounceInUp" v-wow data-wow-duration="2s">
                  <img src="../../assets/img/blog_2.png" alt="">
                  <h3>Правильно ли дышит<br>
                    ваш ребенок?</h3>
                  <p>Физиологически, т.е в норме, ребенок должен дышать через нос</p>
                </b-col>
                <b-col md="3" lg="3" xl="3" xs="12" sm="12" class="blog_items bounceInUp" v-wow data-wow-duration="2s">
                  <img src="../../assets/img/blog_3.png" alt="">
                  <h3>Часто и длительно<br>
                    болеющие дети (ЧДБ) – <br>
                    правда или миф?</h3>
                  <p>Ребенок опять подхватил простуду в садике уже 6-ой раз за год?</p>
                </b-col>
              </b-row>
            </b-container>
            </Slick>
          </b-col>
        </b-row>
      </b-container>
    </section>
</template>

<script>
import Slick from 'vue-slick';
export default {
    components: { Slick },
data() {
    return {
        slickOptions: {
            //options can be used from the plugin documentation
            dots: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 8000,
            prevArrow: '.sec_prev',
            nextArrow: '.sec_next'
        }
    }
    },
}
</script>

<style>
.sec_prev{
  position: absolute;
  left: 1%;
  top: -9%;
  z-index: 999;
  cursor: pointer;
}

.sec_next{
  position: absolute;
  left: 11%;
  top: -9%;
  z-index: 999;
  cursor: pointer;
}
.second_slider{
  background-image: url('../../assets/img/elips.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  min-height: 500px;
  padding-top: 75px;
}

.second_slider .slick-dots{
  position: absolute;
  /* bottom: -25px; */
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
  bottom: 400px;
  left: 10px;
  top: -11%;
}

.second_slider .slick-dots li.slick-active button:before{
  color: #003c71;
  font-size: 7px;
}

.second_slider .slick-dots li button:before{
  color: #003c71;
  font-size: 7px;
}

.slider_btn{
  background-image: url('../../assets/img/slider_btn_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 210px;
  height: 60px;
}

.slider_btn>a{
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-family: "ProximaNovaBold";
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding: 19px 0px;
}

.statia{
  padding: 0;
  margin: 0;
}

.statia>h3{
  font-size: 40px;
  font-family: "ProximaNovaBold";
  color: #000;
  padding: 0;
  padding-bottom: 50px;
  margin: 0;
}

.statia>a{
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  color: #84bd00;
  padding: 15px 45px;
  border: 1px solid #84bd00;
  font-family: "ProximaNovaBold";
}

.statia>a:hover{
  color: #84BD8C;
  padding: 12px 42px;
  border: 1px solid #84BD8C;
  -webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}

.statia>p{
  font-size: 16px;
  color: #a8b2b8;
  padding-bottom: 20px;
}
.slick-slide img{
  width: 100%;
}
.blog_items>h3{
  font-size: 20px;
  font-family: "ProximaNovaBold";
  padding-top: 15px;
}
</style>
