<template>
<div>
    <img v-if="playImg" @click="play(), playImg = !playImg" class="playBtn" src="../../../assets/img/play-button.png" alt="">
    <video class="playVideo" ref="videoRef" @click="play(), playImg = !playImg" width="100%" :poster="posterInVideo">
        <source src="../../../assets/img/stockvideo.mp4" type='video/ogg; codecs="theora, vorbis"'>
        <source src="../../../assets/img/stockvideo.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
        <source src="../../../assets/img/stockvideo.mp4" type='video/webm; codecs="vp8, vorbis"'>
    </video>
</div>
</template>

<script>
export default {
    data(){
        return{
            playImg: true,
        }
    },
    methods: {
        play(event){
            let a = this.$refs.videoRef
            if(a.paused){
                a.play();
            }else{
                a.pause();
            }
        }
    },
    props: [
        'testString',
        'posterInVideo'
    ]
}
</script>

<style>

</style>