<template>
<section v-wow class="fadeInDown">
<div class="about">
    <b-container>
      <b-row>
          <b-col md="3">
            <div class="about_link">
                <router-link to="/">Главная </router-link>  /  О нас
            </div>
          </b-col>
      </b-row>
    </b-container>
    <b-container>
        <b-row class="pt_about">
            <b-col md="3">
                <div class="nav_about">
                    <h3>{{title}}</h3>
                    <ul class="link_list">
                    <li v-for="link of aboutLink" :key="link.id">
                        <router-link :to="link.alink" @click="isActiveAbout = !isActiveAbout" :class="isActiveAbout == true || isActiveAbout == 1 ? isAboutTab : ''">
                            {{ link.category }}
                        </router-link>
                    </li>
                </ul>
                </div>
            </b-col>
            <b-col md="9">
               <router-view></router-view>
            </b-col>
        </b-row>
    </b-container>
</div>
<!-- <homeForms></homeForms> -->
</section>
</template>

<script>
export default {
    data(){
        return{
        title: "О нас",
        isActiveAbout: false,
        isAboutTab: 'active_about',
        aboutLink: [
            {
                id: 1,
                 category: "Наша компания",
                 alink: '/about'
            },
            {
                id: 2,
                 category: "Наша философия",
                 alink: '/about/aboutPhilosophy'
            },
            {
                id: 3,
                 category: "Фитониринг – формула успеха",
                 alink: '/about/aboutPhytoniring'
            },
            {
                id: 4,
                 category: "Что такое фитониринг",
                 alink: '/about/aboutPhytoniringInfo'
            },
            {
                id: 5,
                 category: "Наша история",
                 alink: '/about/aboutHistory'
            },
            {
                id: 6,
                 category: "Научные исследования",
                 alink: '/about/aboutSince'
            }
        ]
        }

    },
    components: {
    }
}
</script>

<style>
    .about{
        background-image: url('../assets/img/elips.png');
        background-repeat: no-repeat;
        background-size: 20% 50%;
        width: 100%;
        min-height: 760px;
        padding-top: 30px;
        background-position-x: 0px;
        background-position-y: 50%;
    }
    .pt_about{
        padding-top: 20px;
    }
    .about_link{
        color: #010101;
        font-family: "ProximaNovaRegular";
        font-size: 16px;
    }
    .about_link>a{
        color: #a7b2b8;
    }

    .about_descr>h2{
        font-family: "ProximaNovaBold";
        font-size: 25px;
        color: #000;
    }
    .about_descr>p{
        color: #7d7c7c;
        font-size: 16px;
        font-family: "ProximaNovaRegular";
    }
    .link_list{
        list-style-type: none;
        padding: 0;
    }
    .link_list>li>a{
        display: flex;
        justify-content: flex-start;
        font-size: 16px;
        font-family: "ProximaNovaBold";
        text-decoration: none;
        color: #000;
        padding: 20px 25px;
    }
    .link_list>li>a:focus{
        background-color: #f8ffe9;
        color: #85bc00!important;
    }
    .nav_about{
        border-radius: 9px;
        box-shadow: 0px 0px 5px 0px #ccc;
        width: 100%;
        background-color: #fff;
    }
    .nav_about>h3{
        padding: 22px 25px;
        margin: 0;
        border-bottom: 2px solid #dbe0e4;
    }
    .active_about{
        background-color: #f8ffe9;
        color: #85bc00!important;
    }
    .about_descr>img{
        width: 100%;
    }
</style>
