<template>
  <div v-wow class="slideInLeft">
    <accountInfo></accountInfo>
    <accountBlock></accountBlock>
  </div>
</template>

<script>
import accountInfo from '@/components/accountComponents/accountInfo'
import accountBlock from '@/components/accountComponents/accountBlock'


export default {
  components: {
    accountInfo,
    accountBlock
  },
  data(){
    return {

    }
  }
}
</script>
<style src="@/components/accountComponents/accountCss/account.css"></style>
<style src="@/components/accountComponents/accountCss/account_media.css"></style>

