<template>
  <div>
    <firstSlider></firstSlider>
    <secondSlider></secondSlider>
    <!-- <homeForms></homeForms> -->
  </div>
</template>

<script>
import firstSlider from '@/components/homePageComponents/homeFirstSlider'
import secondSlider from '@/components/homePageComponents/homeSecondSlider'
import homeForms from '@/components/homePageComponents/homeForms'
export default {
  components: {
    firstSlider,
    secondSlider,
    homeForms,
  },
  data(){
    return {
    }
  }
}
</script>

