<template>
<section v-wow class="news_descr slideInLeft">
<div>
    <b-container>
      <b-row>
          <b-col md="3">
            <div class="about_link">
                <router-link to="/">Главная </router-link>  /  Новости
            </div>
          </b-col>
      </b-row>
    </b-container>
    <b-container>
        <b-row>
            <b-col md="3">
                <h2 class="news_h2">Новости</h2>
            </b-col>
        </b-row>
    </b-container>
</div>
<div class="news">
    <b-container>
      <b-row>
        <newsComponents  v-for="news in news_item.data" :key="news.id" :newsProps="news"></newsComponents>
      </b-row>
    </b-container>
</div>
<!-- <homeForms></homeForms> -->
</section>


</template>

<script>
import homeForms from '@/components/homePageComponents/homeForms'
import newsComponents from '@/components/newsComponent/newsComponent'
import axios from 'axios'

export default {
    data(){
        return{
        news_item: '',
            // {
            //     title: "Международная научно-практическая конференция",
            //     descr: "Сегодня антибиотикотерапия удерживает лидирующие позиции в статистике назначаемого лечения при заболеваниях, вызванных патогенными микроорганизмами.",
            //     image: require('../assets/img/conf.png'),
            //     link: '11'
            // },
            // {
            //     title: "Верное решение для «маленьких» проблем ",
            //     descr: "Одним из малоприятных заболеваний, получивших широкое распространение в современном мире, является воспаление мочевого пузыря, или Цистит. ",
            //     image: require('../assets/img/cistit.jpg'),
            //     link: '/newsInner/2'
            // },
            // {
            //     title: "Отеки, лечить или не лечить? Вот в чем вопрос!",
            //     descr: "Отёк — избыточное накопление жидкости организме, внеклеточных тканевых пространствах организма в результате плохого лимфообращения, если нету других серьезных причин.",
            //     image: require('../assets/img/otek.jpg'),
            //     link: '/newsInner/3'
            // },
            // {
            //     title: "СИНУПРЕТ® ЭФФЕКТИВНО УСТРАНЯЕТ ЗАЛОЖЕННОСТЬ НОСА, ЛИЦЕВЫЕ / ГОЛОВНЫЕ БОЛИ У ДЕТЕЙ С 2-Х ЛЕТ ПРИ НАСМОРКЕ И РИНОСИНУСИТЕ",
            //     descr: "Насморк или ринит - это в первую очередь воспалительный процесс, который развивается в полости носа в результате проникновения возбудителей инфекции или контакта с аллергенами.",
            //     image: require('../assets/img/sinupret.png'),
            //     link: '/newsInner/4'
            // },
            // {
            //     title: "Синупрет обладает комбинированным действием на процесс воспаления, включая муколитический эффект.",
            //     descr: "В этом лекарственном средстве подобрана уникальная комбинация растений, которая позволяет применять его для лечения воспалительных заболеваний ВДП различной природы, так как он обладает секретолитическим, антивирусным, иммуномодулирующим и противовоспалительным свойствами.",
            //     image: require('../assets/img/sinupret2.jpg'),
            //     link: '/newsInner/5'
            // },
            // {
            //     title: "COVID-19 у детей. Анализ китайских данных",
            //     descr: "С 16 января по 8 февраля 2020 года Chinese Center for Disease Control and Prevention выявил инфекцию COVID-19 у 2143 детей в возрасте от 1 дня до 18 лет.",
            //     image: require('../assets/img/covid19.png'),
            //     link: '/newsInner/6'
            // }
        }
    },
    mounted() {
      axios
        .get('http://bionorika.uww.asia/api/users/news',{
          headers: {
            'Content-Language': 'en',

          }
        })
        .then(response => this.news_item = response.data)
        .catch(error => console.log(error));
    },
    components: {
        homeForms,
        newsComponents
    }
}
</script>

<style>
    .news_descr{
        background-image: url('../assets/img/elips.png');
        background-repeat: no-repeat;
        background-size: 20% 50%;
        width: 100%;
        min-height: 760px;
        padding-top: 30px;
        background-position-x: 0px;
        background-position-y: 50%;
    }
    .news_h2{
        font-size: 25px;
        font-family: "ProximaNovaBold";
        color: #000;
        padding-left: 15px;
    }
    .news_descr{
        padding-top: 30px;
    }
</style>
