<template>
<section v-wow class="news_descr rollIn">
<div>
    <b-container>
      <b-row>
          <b-col md="3">
            <div class="about_link product_link">
                <router-link to="/">Главная</router-link>  /  Препараты
            </div>
          </b-col>
      </b-row>
    </b-container>
    <b-container>
        <b-row>
            <b-col md="4" lg="3">
                <div class="nav_about" v-for="nav of navMenuProducts" :key="nav.id">
                    <h3 class="h3_nav">{{nav.head_title}}</h3>
                    <ul class="link_list">
                    <li @click="nav.isActiveMenu = true">
                        <router-link to="">
                            <span>{{ nav.title }}</span>
                        </router-link>
                    </li>
                    <li v-if="nav.isActiveMenu == true">
                        <router-link class="sub_title" to="">
                            <span>{{ nav.sub_title }}</span>
                        </router-link>
                    </li>
                </ul>
                </div>
            </b-col>
            <b-col md="8" lg="9">
                <router-view></router-view>
            </b-col>
        </b-row>
    </b-container>
</div>
<!-- <homeForms></homeForms> -->
</section>


</template>

<script>
import homeForms from '@/components/homePageComponents/homeForms'

export default {
    data(){
        return{
            navMenuProducts: [
                {
                    head_title: 'Респираторные',
                    id: 1,
                    title: "Синупрет",
                    sub_title: 'Синупрет форте',
                    isActiveMenu: false
                },
                {
                    head_title: 'Урологические',
                    id: 2,
                    title: "Канефрон",
                    sub_title: 'Канефрон форте',
                    isActiveMenu: false
                },
                {
                    head_title: 'Гинекологические',
                    id: 3,
                    title: "Мастодонин",
                    sub_title: 'Мастодонин форте',
                    isActiveMenu: false
                }
            ],
        }
    },
    components: {
            homeForms,
        }
}
</script>

<style>
    .paginate-list{
        margin-bottom: 30px;
    }
    .h3_nav{
        font-family: "ProximaNovaBold";
        font-size: 23px;
        color: #000;
    }
    .product_link{
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .sub_title{
        display: flex;
        text-align: center;
        justify-content: center!important;
    }
    .paginate_number, .paginate-list{
        padding: 0;
    }
    .paginate_number{
        position: absolute;
        list-style-type: none;
        text-align: center;
        left: 50%;
        top: 98%;
        z-index: 99999;
        color: #2c3843;
        font-size: 20px;
    }
    .paginate_number>li>a{
        padding: 0px 15px;
        cursor: pointer;
    }
    .paginate_number>li{
        display: inline-flex;
        justify-content: center;
    }
    .paginate_number>.active{
        color: #fff;
        background: #85bc00;
        border-radius: 50%;
        padding: 5px 0px;
    }
</style>
