<template>
  <div v-wow class="lightSpeedIn">
    <b-container>
      <b-row>
        <b-col md="3" class="pd_0">
          <div class="acc_nav">
            <router-link to="/">Главная</router-link>— Личный кабинет
          </div>
        </b-col>
      </b-row>
      <b-row>
        <b-col md="12" xl="12" lg="12" xs="12" sm="12">
          <h2 class="acc_h2">Редактировать профиль</h2>
        </b-col>
      </b-row>
    </b-container>
    <b-container>
      <b-row>
        <b-col md="5">
          <div class="profile_redaction fadeInDown" v-wow data-wow-iteration="1">
            <div class="profile_reg_descr_1">
              <span class="input_text">
                Ваши интересы
                <span class="txt_color_red">*</span>
              </span>
              <div class="poo-select-1">
                <select name id>
                  <option
                    v-for="interesItem in interes.data"
                    :key="interesItem.id"
                    value
                  >{{interesItem.name}}</option>
                </select>
              </div>
            </div>
            <div class="profile_reg_descr_2">
              <span class="input_text">
                Ваше ФИО
                <span class="txt_color_red">*</span>
              </span>
              <input
                class="input_form"
                placeholder="Смагулов Жасулан Нурланович"
                type="text"
                @blur="$v.name.$touch()"
                v-model.trim="name"
                :class="{'is-invalid': $v.name.$error}"
              />
              <span class="error-text" v-if="!$v.name.required"></span>
            </div>
            <div class="profile_reg_descr_3">
              <span class="input_text">
                Ваш город
                <span class="txt_color_red">*</span>
              </span>
              <input
                class="input_form"
                placeholder="Алматы"
                type="text"
                :class="{'is-invalid': $v.city.$error}"
                v-model.trim="city"
                @blur="$v.city.$touch()"
              />
            </div>
            <div class="profile_reg_descr_4">
              <span class="input_text">
                Ваша почта
                <span class="txt_color_red">*</span>
              </span>
              <input
              class="input_form"
                    :class="{'is-invalid': $v.email.$error}"
                    placeholder="info@mail.ru"
                    type="email"
                    @blur="$v.email.$touch()"
                    v-model.trim="email"
              />
               <span class="error-text" v-if="!$v.email.email">Поле должно быть @.ru</span>
            </div>
            <div class="profile_reg_descr_5">
              <span class="input_text">
                Ваш номер телефона
                <span class="txt_color_red">*</span>
              </span>
              <input
                 class="input_form"
                  placeholder="+7 (___) __ __"
                  :class="{'is-invalid': $v.number.$error}"
                  type="text"
                  v-model.trim="number"
                 @blur="$v.number.$touch()"
               />
            </div>
            <div class="profile_reg_descr_6">
              <span class="input_text modal_auto_descr_2">
                Введите пароль
                <span class="txt_color_red">*</span>
              </span>
              <input
                class="input_form"
                  id="password"
                  placeholder="••••••••••••"
                   :class="{'is-invalid': $v.password.$error}"
                  type="password"
                  v-model.trim="password"
                  @o="$v.password.$touch()"
               />
                <span class="error-text" v-if="!$v.password.minLength">
                    Минимум {{ $v.password.$params.minLength.min }} символов, у вас {{ password.length }}
                  </span>
            </div>
            <div class="profile_reg_descr_7">
              <span class="input_text modal_auto_descr_2">
                Повторите пароль
                <span class="txt_color_red">*</span>
              </span>
              <input
                class="input_form"
                  placeholder="••••••••••••"
                  id="confirmPassword"
                  type="password"
                  :class="{'is-invalid': $v.confirmPassword.$error}"
                  @blur="$v.confirmPassword.$touch()"
                  v-model.trim="confirmPassword"
               />
               <span class="error-text" v-if="!$v.confirmPassword.sameAs">
                      Пароли не совпадают
                  </span>
            </div>
          </div>
          <div class="reg_footer">
            <a class="profile_reg_btn">
              <span>Сохранить изменения</span>
            </a>
            <a class="otmena">
              <span>Отменить</span>
            </a>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import axios from "axios";
import { required, minLength, email, sameAs } from "vuelidate/lib/validators";
export default {
  data: () => ({
    interes: "",
    name: "",
    email: "",
    password: "",
    number: "",
    confirmPassword: ""
  }),
  validations: {
    email: {
      required,
      email
    },
    name: {
      required,
      minLength: minLength(5)
    },
    number: {
      required,
      minLength: minLength(11)
    },
    password: {
      minLength: minLength(6)
    },
     confirmPassword:{
      sameAs: sameAs('password')
    },
    city: {
      required
    },

  },
  mounted() {
    axios
      .get("http://bionorika.uww.asia/api/users/interests", {
        headers: { "Content-Language": "en" }
      })
      .then(response => {
        this.interes = response.data;
      });
  }
};
</script>

<style>
.otmena {
  display: flex;
  padding: 15px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #84bd00;
}

.otmena > span {
  font-family: "ProximaNovaBold";
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  margin: auto;
}

.profile_reg_btn {
  display: flex;
  padding: 15px;
  border-radius: 3px;
  background-image: url("../assets/img/btn_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #84bd00;
  margin-bottom: 15px;
  margin-top: 35px;
  cursor: pointer;
}

.profile_reg_btn > span {
  font-family: "ProximaNovaBold";
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  margin: auto;
}

.reg_footer {
  margin-bottom: 100px;
}

.profile_redaction {
  margin-bottom: 35px;
}

.profile_reg_descr_1 {
  padding-top: 15px;
}

.profile_reg_descr_2 {
  padding-top: 40px;
}

.profile_reg_descr_3 {
  padding-top: 40px;
}

.profile_reg_descr_4 {
  padding-top: 40px;
}

.profile_reg_descr_5 {
  padding-top: 40px;
}

.profile_reg_descr_6 {
  padding-top: 40px;
}

.profile_reg_descr_7 {
  padding-top: 40px;
}
</style>
