<template>
  <b-container>
  <b-row>
    <b-col md="12">
      <div class="modal_registration">
        <div class="modal_reg_window fadeInDown" v-wow data-wow-iteration="1">
          <div class="modal_header">
            <span class="modal_title">Подать заявку на регистрацию</span>
          </div>
          <div class="modal_body">
            <form>
              <div class="modal_reg_descr_1">
                <span class="input_text">Ваша профессия <span class="txt_color_red">*</span></span>
                <div class="poo-select-2">
                  <select @change="clickSelect(selectType)" v-model="selectType">
                      <option v-for="item in selects.data" :key="item.id" :value="item.id" >{{item.name}}</option>
                  </select>
                </div>
              </div>

              <div v-if="showSelect" class="modal_reg_descr_1">
                <span class="input_text">
                  Ваше направление
                  <span class="txt_color_red">*</span>
                </span>
                <div class="poo-select-2">
                  <select v-model="selectTypeDirections">
                    <option
                      v-for="directionsItem in  directions.data"
                      :key="directionsItem.id"
                      :value="directionsItem.id"
                    >{{directionsItem.name}}</option>
                  </select>
                </div>
              </div>

              <div class="modal_reg_descr_1">
                <span class="input_text">
                  Ваши интересы
                  <span class="txt_color_red">*</span>
                </span>
                <div class="poo-select-1">
                  <select v-model="selectTypeInteres">
                    <option
                      v-for="(interesItem, i) in interes"
                      :key="interesItem.id"
                      :value="i"
                    >{{interesItem.name}}</option>
                  </select>
                </div>
              </div>

              <div class="modal_reg_descr_2" :class="{'form-group--error': $v.name.$error}">
                <span class="input_text">
                  Ваше ФИО
                  <span class="txt_color_red">*</span>
                </span>
                <input
                  class="input_form"
                  placeholder=""
                  type="text"
                  @blur="$v.name.$touch()"
                  v-model.trim="name"
                  :class="{'is-invalid': $v.name.$error}"
                />

                <span
                  class="error-text"
                  v-if="$v.name.$error && $v.name.minLength">
                  Пожалуйста заполните обязательное поле Ваше ФИО для того, чтобы зарегистрироваться
                </span>
                <span
                  class="error-text"
                  v-if="!$v.name.minLength">
                  В имени должно быть минимум 8 букв
                </span>
              </div>

              <div class="modal_reg_descr_3">
                <span class="input_text">
                  Ваш город
                  <span class="txt_color_red">*</span>
                </span>
                <input
                class="input_form"
                placeholder=""
                type="text"
                :class="{'is-invalid': $v.city.$error}"
                v-model.trim="city"
                  @blur="$v.city.$touch()"
                />

                <span
                  class="error-text"
                  v-if="$v.city.$error">
                  Пожалуйста заполните обязательное поле Ваше город для того, чтобы зарегистрироваться
                </span>
              </div>

              <div class="modal_reg_descr_3">
                <span class="input_text">
                  Ваше место работы
                  <span class="txt_color_red">*</span>
                </span>
                <input
                  class="input_form"
                  placeholder=""
                  type="text"
                  :class="{'is-invalid': $v.place_of_work.$error}"
                  v-model="place_of_work"
                  @blur="$v.place_of_work.$touch()"
                />

                <span
                  class="error-text"
                  v-if="$v.place_of_work.$error">
                  Пожалуйста заполните обязательное поле Ваше место работы для того, чтобы зарегистрироваться
                </span>
              </div>

              <div class="modal_reg_descr_4">
                <span class="input_text">
                  Ваша почта
                  <span class="txt_color_red">*</span>
                </span>
                <input
                  class="input_form"
                  :class="{'is-invalid': $v.email.$error}"
                  placeholder=""
                  type="email"
                  @focus="serverError === ''"
                  @blur="$v.email.$touch()"
                  v-model.trim="email"
                />

                <span class="error-text" v-if="!$v.email.email">Поле должно быть @.ru</span>
                <span
                  class="error-text"
                  v-if="$v.email.$error && $v.email.email">
                  Пожалуйста заполните обязательное поле Ваша почта для того, чтобы зарегистрироваться
                </span>
              </div>

              <div class="modal_reg_descr_5">
                <span class="input_text">
                  Ваш номер телефона
                  <span class="txt_color_red">*</span>
                </span>
                <masked-input
                  class="input_form"
                  mask="\+\71111111111"
                  placeholder=""
                  :class="{'is-invalid': $v.number.$error}"
                  type="text"
                  v-model.trim="number"
                  @focus="serverError === ''"
                  @blur="$v.number.$touch()"
                />

                <span class="error-text" v-if="!$v.number.minValue">Не менее 12 символов</span>
                <span
                  class="error-text"
                  v-if="$v.number.$error && $v.number.minValue">
                  Пожалуйста заполните обязательное поле Ваш номер телефона для того, чтобы зарегистрироваться
                </span>
              </div>

              <div class="modal_reg_descr_6">
                <span class="input_text modal_auto_descr_2">
                  Введите пароль
                  <span class="txt_color_red">*</span>
                </span>
                <input
                  class="input_form"
                  id="password"
                  placeholder=""
                  :class="{'is-invalid': $v.password.$error}"
                  type="password"
                  autocomplete="cc-number"
                  v-model.trim="password"
                  @o="$v.password.$touch()"
                />

                <span class="error-text" v-if="!$v.password.minLength">
                  Минимум {{ $v.password.$params.minLength.min }} символов, у вас {{ password.length }}
                </span>
                <span
                  class="error-text"
                  v-if="$v.password.$error && $v.password.minLength">
                  Пожалуйста введите пароль для того, чтобы зарегистрироваться
                </span>
              </div>

              <div class="modal_reg_descr_7">
                <span class="input_text modal_auto_descr_2">
                  Повторите пароль
                  <span class="txt_color_red">*</span>
                </span>
                <input
                  autocomplete="cc-number"
                  class="input_form"
                  placeholder=""
                  id="confirmPassword"
                  type="password"
                  :class="{'is-invalid': $v.confirmPassword.$error}"
                  v-model.trim="confirmPassword"
                  @blur="$v.confirmPassword.$touch()"
                />

                <span class="error-text" v-if="!$v.confirmPassword.sameAs">
                  Пароли не совпадают
                </span>
                <span
                  class="error-text"
                  v-if="$v.confirmPassword.$error && $v.confirmPassword.sameAs">
                  Пожалуйста повторите пароль для того, чтобы зарегистрироваться
                </span>
              </div>

              <div class="modal_reg_descr_8" v-if="serverError&&serverError !== ''">
                <div class="error-text" >{{serverError[0]}}</div>
              </div>
              <div class="modal_footer_reg">
                <input type="checkbox" id="reg_checkbox" :class="{'is-invalid': $v.name.$error}" v-model="agree"/>
                <label for="reg_checkbox" class="reg_checkbox_descr">
                  Пользователь дает свое согласие на <a class="reg_checkbox_a" href="#">сбор и обработку его личных данных</a>
                </label>

              </div>
              <div class="modal_reg_descr_8 error-text" v-if="$v.agree.checked == false">
                Согласие на обработку персональных данных должно быть принято.
              </div>
              <button class="reg_btn" type="submit" @click.prevent="onSubmit">
                <span>Зарегистрироваться</span>
              </button>


            </form>
          </div>
        </div>
      </div>
      </b-col>
    </b-row>
    <registerModal v-if="showModal"></registerModal>
  </b-container>

</template>

<script>
import axios from "axios";
import registerModal from "@/components/registerTest/registrationResultModal";
import { required, minLength, minValue, email, sameAs } from "vuelidate/lib/validators";
import MaskedInput from 'vue-masked-input';

export default {
  data: () => ({
    showSelect: false,
    selectType: '1',
    selectTypeInteres: '0',
    selectTypeDirections: '1',
    showModal: false,
    interes: '',
    selects: '',
    directions: '',
    name: '',
    email: '',
    password: '',
    confirmPassword: "",
    city: '',
    place_of_work: '',
    number: "",
    submitStatus: null,
    serverError: '',
    agree: false
  }),
  validations: {
    email: {
      required,
      email
    },
    name: {
      required,
      minLength: minLength(8)
    },
    number:{
      required,
      minLength: minLength(11),
      minValue: minValue(11)
    },
    password:{
      required,
      minLength: minLength(8)
    },
    city:{
      required,
    },
    place_of_work:{
      required,
    },
    confirmPassword:{
      required,
      sameAs: sameAs('password')
    },
    agree:{
      checked: v => v
    }
  },
  methods: {
    mustBeCool(value){
      return value.length === 11
    },
    onSubmit() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        this.submitStatus = "ERROR";
      } else {
        this.submitStatus = "Pending";
        setTimeout(() => {
          this.submitStatus = "OK";
        }, 500);
        this.register()
      }
    },

    clickSelect(selectType) {
      if (selectType == "1") {
        this.showSelect = false;
      } else if (selectType == "2") {
        this.showSelect = true;
      }
    },
    doctorOrFarma(selectType) {
      if (selectType == "1") {
        this.showModal = true;
      } else if (selectType == "2") {
        this.$router.push({path: "/RegistrationTest" });
      }
    },
    register(){
      axios
        .post('http://bionorika.uww.asia/api/auth/register',
        {
          headers: {'Content-Language': 'en'},
          name: this.name,
          email: this.email,
          password: this.password,
          password_confirmation: this.confirmPassword,
          profession_id: +this.selectType,
          interest_id: +this.selectTypeInteres,
          direction_id: +this.selectTypeDirections,
          city: this.city,
          phone: this.number,
          place_of_work: this.place_of_work,
          agreement: this.agree
        })
        .then(response => {
          console.log(response);
          localStorage.setItem('retoken', response.data.token)
          this.doctorOrFarma(this.selectType)
        })
        .catch(e => {
          console.log(e.response.data.error)

          if (e.response.data.error.phone) {
            this.serverError = e.response.data.error.phone
          }
          if (e.response.data.error.email) {
            this.serverError = e.response.data.error.email
          }
          if (e.response.data.error.agreement){
            this.serverError = e.response.data.error.agreement
          }
        })
    }

  },
  components: {
    registerModal,
    MaskedInput
  },
  mounted() {
    axios
      .get("http://bionorika.uww.asia/api/users/interests", {
        headers: { "Content-Language": "ru" }
      })
      .then(response => (this.interes = response.data.data));
    axios
      .get("http://bionorika.uww.asia/api/users/professions", {
        headers: { "Content-Language": "ru" }
      })
      .then(response => (this.selects = response.data));
    axios
      .get("http://bionorika.uww.asia/api/users/directions", {
        headers: { "Content-Language": "ru" }
      })
      .then(response => (this.directions = response.data));
  }
};
</script>

<style>
.modal_reg_descr_1,
.modal_reg_descr_2,
.modal_reg_descr_3,
.modal_reg_descr_4,
.modal_reg_descr_5,
.modal_reg_descr_6,
.modal_reg_descr_7 {
  padding-top: 40px;
}

.modal_reg_descr_7, .modal_reg_descr_8{
  padding-bottom: 20px;
}

.modal_reg_descr_1 .input_form,
.modal_reg_descr_2 .input_form,
.modal_reg_descr_3 .input_form,
.modal_reg_descr_4 .input_form,
.modal_reg_descr_5 .input_form,
.modal_reg_descr_6 .input_form,
.modal_reg_descr_7 .input_form {
  padding: 10px 20px;
}

input[type="checkbox"] {
  display: none;
} /* to hide the checkbox itself */
input[type="checkbox"] + label:before {
  display: inline-flex;
}
input[type="checkbox"] + label:before {
  content: "";
} /* unchecked icon */
input[type="checkbox"] + label:before {
  border: 1px solid #ccc;
  width: 15px;
  height: 15px;
  display: inline-flex;
  justify-content: center;
} /* space between checkbox and label */

input[type="checkbox"]:checked + label:before {
  content: "\2713";
  color: #84bd00;
  border: 1px solid #ccc;
  width: 15px;
  height: 15px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.modal_footer_reg{
  padding: 15px 0px;
}

.modal_registration {
  display: block;
}
.reg_checkbox_descr {
  color: #a8b2b8;
}
.reg_checkbox_a {
  color: #a8b2b8;
  text-decoration: underline;
}

.select_child {
  z-index: 99999;
}

.poo-select-1 {
  position: relative;
}

/* .poo-select-1::before {
  content: "Активный образ жизни";
  font-family: "ProximaNovaRegular";
  position: absolute;
  top: 2px;
  left: 20px;
  font-size: 18px;
  font-weight: bolder;
  color: #000;
} */

.poo-select-1 select {
  width: 100%;
  border: none;
  font-family: "ProximaNovaRegular";
  box-shadow: 0px 0px 15px #c1c1c1;
  /* color: #a8b2b8; */
  color: #000;
  padding: 12px 15px 13px 20px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../assets/img/select_arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 93%;
}

.poo-select-2 {
  position: relative;
}

.poo-select-2::before {
  font-family: "ProximaNovaRegular";
  position: absolute;
  top: 2px;
  left: 20px;
  font-size: 18px;
  font-weight: bolder;
  color: #000;
}

.poo-select-2 select {
  width: 100%;
  border: none;
  font-family: "ProximaNovaRegular";
  box-shadow: 0px 0px 15px #c1c1c1;
  color: #000;
  padding: 12px 15px 13px 20px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../assets/img/select_arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 93%;
}

.error-text {
  color: #dc3545;
  padding-left: 20px;
  font-size: 13px;
}
.is-invalid{
  border:1px solid #dc3545;
}
</style>
