/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px) {
    .block_acc_nav>ul>li{
        display: flex;
        text-align: center;
        justify-content: center;
        width: 100%;
    }
    .block_acc_nav>ul>li:last-child{
        margin: 0;
    }
    .acc_card{
        margin: 10px 10px;
    }
    .point_card_box{
        margin: 10px 20px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.acc_card_block{
        padding: 0;
    }
    .acc_card{
        margin: 10px 0px;
    }
    .block_acc_nav>ul{
        text-align: center;
    }
    .acc_pt_top{
        text-align: center;
    }
    .cilindr{
        margin: auto;
    }
    .acc_h2{
        text-align: center;
    }
    .block_acc{
        padding-bottom: 0px;
    }
    .test_go{
        padding-top: 20px;
    }
    .test_wrap{
        margin-left: 0;
        width: 100%;
    }


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.playBtn {
        left: 33%;
    }
    .test_wrap_next, .test_cancel{
        margin-left: 0;
        width: 100%;
    }
    .test_go_next{
        padding-top: 20px;
    }
    .test_non{
        padding-top: 20px;
    }
    .point_card_box{
        margin: 20px 20px;
    }
    .acc_card{
        margin: 10px 0px;
    }
    .playVideo{
        margin-left: 0px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}