<template>
  <div class="modal_autorization">
  <div class="modal_overlay">
    <div class="modal_window fadeInDown" v-wow data-wow-iteration="1">
      <div class="modal_header">
        <span class="modal_title">Авторизация</span>
        <span class="modal_close modal_auto_close" @click="$emit('closeAuto')"><img src="../../assets/img/cancel.png" alt=""></span>
      </div>
      <div class="modal_body">
        <div class="modal_auto_descr_1">
          <span class="input_text">Ваш телефон или почта <span class="txt_color_red">*</span></span>
           <input
                    class="input_form"
                    :class="{'is-invalid': $v.email.$error}"
                    placeholder="info@mail.ru"
                    type="email"
                    @blur="$v.email.$touch()"
                    v-model.trim="email"
                  />

                  <span class="error-text" v-if="!$v.email.email">Поле должно быть @.ru</span>
        </div>
        <div class="modal_auto_descr_2">
          <span class="input_text modal_auto_descr_2">Введите пароль <span class="txt_color_red">*</span></span>
           <input
                  class="input_form"
                  id="password"
                  placeholder="••••••••••••"
                   :class="{'is-invalid': $v.password.$error}"
                  type="password"
                  autocomplete="cc-number"
                  v-model.trim="password"
                  @o="$v.password.$touch()"
                  />
                  <span class="error-text" v-if="!$v.password.minLength">
                    Минимум {{ $v.password.$params.minLength.min }} символов, у вас {{ password.length }}
                  </span>
        </div>
      </div>
      <div class="modal_footer">
        <a class="auto_btn" @click="login">
          <span>Авторизоваться</span>
        </a>
        <p><span class="black_undefine">Забыли пароль?</span> Для восстановления <a class="undefined_pass" @click="$emit('openUn')">нажмите сюда</a></p>
        <p class="txt_color_red" v-if="showLog">Введите правильный пароль или логин</p>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import axios from 'axios'
import { required,minLength, email } from "vuelidate/lib/validators";
export default {
  data(){
    return {
      email: '',
      password: '',
      showLog: false,
      email: '',
      password: '',
    }
  },
  validations: {
    email: {
      required,
      email
    },
    password:{
      minLength: minLength(8)
    }
  },
  methods: {
    login(){
      axios
        .post('http://bionorika.uww.asia/api/auth/login', {headers:{'Content-Language': 'en'}, email: this.email, password: this.password})
        .then( response => {
          localStorage.setItem('usertoken', response.data.token)
          this.email = ''
          this.password = ''
          this.$router.push({path: '/account'})
          this.$emit('closeAuto')
          this.$store.state.accountIn = true
        })
        .catch(e => {
          this.showLog = true
          console.log(e)
        })
    }
  }
}
</script>

<style>
.modal_autorization{
  display: block;
}

.txt_color_red{
  color: red;
}

.modal_auto_descr_1{
  padding-top: 45px;
}
.modal_auto_descr_2{
  padding-top: 40px;
}

.modal_auto_descr_1 .input_form, .modal_auto_descr_2 .input_form{
  padding: 15px;
}

.auto_btn{
  display: flex;
  padding: 15px;
  border-radius: 3px;
  background-image: url("../../assets/img/btn_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #84bd00;
  margin-bottom: 35px;
  margin-top: 10px;
  cursor: pointer;
}

.auto_btn:hover{
  opacity: .9;
  text-decoration: none!important;
  transform: scale(0.9);
  transition: .5s ease-in-out;
}

.modal_undefined_pass{
  display: block;
}

.modal_undefined_p{
  font-family: "ProximaNovaRegular";
  font-size: 16px;
  color: #a8b2b8;
  padding-bottom: 60px;
}

.modal_undefined_descr .input_form{
  padding: 10px 20px;
}

.undefined_pass{
  color: #84bd00!important;
  cursor: pointer;
}

.black_undefine{
  font-family: "ProximaNovaBold";
}

.modal_footer>p{
  text-align: center;
}

.auto_btn>span{
  font-family: "ProximaNovaBold";
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  margin: auto;
}

</style>
