<template>
  <div class="main_modal">
  <div class="modal_overlay">
    <div class="modal_window fadeInDown" v-wow data-wow-iteration="1">
      <div class="modal_header">
        <span class="modal_title">Личный кабинет</span>
        <span class="modal_close" @click="$emit('close')"><img src="../../assets/img/cancel.png" alt=""></span>
      </div>
      <div class="modal_body">
        <p>Выберите войти — если у вас уже есть учетная запись
          Выберите заргеистрироваться — если хотите создать учетную запись</p>
      </div>
      <div class="modal_footer">
        <a class="div_btn_user" @click="$emit('openAuto')">
          <img src="../../assets/img/user_modal.png" alt="">
          <span>Войти в личный кабинет</span>
        </a>
        <router-link to="Registration" >
          <a href="" class="reg_btn" @click="$emit('closeReg')">
            <span>Зарегистрироваться в личном кабинете</span>
          </a>
        </router-link>
      </div>
    </div>
  </div>

</div>

</template>

<script>
export default {
  data(){
    return {
    }
  },
  components:{

  }
}
</script>

<style>
.main_modal{
  display: block;
  z-index: 99999;
}

.modal_overlay{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 999;
}

.modal_window{
  max-width: 555px;
  border-radius: 5px;
  background: #fff;
  margin: 45px auto;
  z-index: 9999;
}

.modal_header{
  padding: 5px 40px;
  display: flex;
  justify-content: space-between;
}

.modal_title{
  padding-top: 30px;
  font-size: 40px;
  font-family: "ProximaNovaBold";
  color: #000;
}

.modal_close{
  cursor: pointer;
  padding-top: 50px;
}

.modal_body{
  padding: 0px 38px 24px 38px;
}

.modal_body>p{
  font-family: "ProximaNovaRegular";
  font-size: 16px;
  color: #a8b2b8;
}

.modal_footer{
  padding: 5px 35px;
}
.div_btn_user{
  display: flex;
  border: 1px solid #84bd00;
  padding: 15px;
  border-radius: 3px;
  margin-bottom: 15px;
  cursor: pointer;
}

.div_btn_user>span{
  font-family: "ProximaNovaBold";
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  margin: auto;
}

.reg_btn{
  display: flex;
  padding: 15px;
  border-radius: 3px;
  background-image: url("../../assets/img/btn_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #84bd00;
  margin-bottom: 45px;
  cursor: pointer;
  text-decoration: none;
}

.reg_btn>span{
  font-family: "ProximaNovaBold";
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  margin: auto;
  text-decoration: none;
}

.div_btn_user:hover, .reg_btn:hover{
  opacity: .9;
  text-decoration: none!important;
  transform: scale(0.9);
  transition: .5s ease-in-out;
}
</style>
