<template>
  <div class="modal_undefined_pass">
  <div class="modal_overlay_alert">
    <div class="modal_window fadeInDown" v-wow data-wow-iteration="1">
      <div class="modal_header">
        <span class="modal_title">Забыли пароль?</span>
        <span class="modal_close modal_undefined_close" @click="$emit('closeUndefined')"><img src="../../assets/img/cancel.png" alt=""></span>
      </div>
      <div class="modal_body">
        <div class="modal_undefined_descr">
          <p class="modal_undefined_p">На адрес электронной почты будет отправлена инструкция по восстановлению пароля</p>
          <span class="input_text">Ваша почта <span class="txt_color_red">*</span></span>
          <input
                    class="input_form"
                    :class="{'is-invalid': $v.email.$error}"
                    placeholder="info@mail.ru"
                    type="email"
                    @blur="$v.email.$touch()"
                    v-model.trim="email"
                  />

                  <span class="error-text" v-if="!$v.email.email">Поле должно быть @.ru</span>
        </div>
      </div>
      <div class="modal_footer">
        <a class="auto_btn undefined_pass_btn">
          <span @click="seen = true, emailNewPass()">Напомнить пароль</span>
        </a>
      </div>
    </div>
    <div class="modal_alert" v-if="seen">
      <div class="modal_window_alert fadeInDown" v-wow>
        <div class="modal_header">
          <span class="modal_title">Вам отправлено письмо на почту!</span>
          <span class="modal_close modal_alert_cancel" @click="seen = false"><img src="../../assets/img/cancel.png" alt=""></span>
        </div>
        <div class="modal_body">
          <p class="alert_descr">Следуйте инструкции</p>
          <a class="auto_btn">
            <span @click="$emit('openNewPass')">Ввести пароль с почты</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import axios from 'axios'
import { required,minLength, email } from "vuelidate/lib/validators";

export default {
  data(){
    return{
      // show: false,
      seen: false,
      email: ''
    }
  },
    validations: {
    email: {
      required,
      email
    },
  },
  methods: {
    emailNewPass(){
      axios
        .get('http://bionorika.uww.asia/api/auth/forgot-password', {
          params: {
            email: this.email
          }
        })
        .then(res => {
          console.log(res.data.user_id)
          this.$store.state.user_id = res.data.user_id
        })
    }
  }
  // methods: {
  //   seen: () =>{
  //     show: true
  //   }
  // }
}
</script>

<style>
/* .modal_alert{
  display: none;
} */

.modal_window_alert{
  max-width: 555px;
  border-radius: 5px;
  background: #fff;
  margin: 1% auto;
}

.modal_overlay_alert{
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 99999;
}
</style>
