<template>
    <section>
        <!-- <footerBlueComponents></footerBlueComponents> -->
        <footerEndComponents></footerEndComponents>
    </section>
</template>

<script>
import footerEndComponents from "@/components/footerChild/footer_end.vue"
import footerBlueComponents from "@/components/footerChild/footer_blue.vue"

export default {
    components:{
        footerEndComponents,
        footerBlueComponents
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
