<template>
<header class="slideInLeft" v-wow data-wow-duration = "2.5s" data-wow-iteration = "1">
<b-container>
	<b-row>
		<b-col cols="12" md="3" sm="12" xl="3" lg="3" class="logo">
		<b-row>
			<b-col cols="4" md="4" sm="4" xl="4" lg="4" class="logo_blocks logotip" >
				<router-link to="/"><img src="../assets/img/logo.jpg" alt=""></router-link>
			</b-col>
			<b-col md="8" sm="8" cols="8" xl="8" lg="8" class="logo_blocks logotip_descr">
				<p>Ведущий мировой<br>
					производитель<br>
					лекарственных средств</p>
			</b-col>
		</b-row>
		</b-col>
		<b-col md="4" sm="12" cols="12" xl="4" lg="4" class="nav_menu">
			<ul>
				<!-- <li @click="activeLinkHeader = 1"><router-link :class="activeLinkHeader == 1 ? headerActiveClass : ''" to="/products">Препараты</router-link></li> -->
				<li @click="activeLinkHeader = 2"><router-link :class="activeLinkHeader == 2 ? headerActiveClass : ''" to="/about">О компании</router-link></li>
				<li @click="activeLinkHeader = 3"><router-link :class="activeLinkHeader == 3 ? headerActiveClass : ''" to="/news">Новости</router-link></li>
			</ul>
		</b-col>
		<b-col md="5" sm="12" cols="12" xl="5" lg="5" class="ipad_mob">
			<b-col md="2" cols="2" sm="2" class="pd_0">
				<a href="#" class="find_btn"><img src="../assets/img/magnifying-glass.png" alt="find"></a>
			</b-col>
			<b-col md="4" cols="4" sm="4" class="lang_block">
				<img src="../assets/img/Flag_of_Kazakhstan.png" alt="KZ">
				<span class="lang_option">KZ</span>
				<a href=""><img src="../assets/img/arrow_lang.png" alt=""></a>
			</b-col>
			<b-col md="5" cols="5" sm="5" class="login_btn logout" v-if="$store.state.accountIn == true" @click="accountOut()">
				<img src="../assets/img/user.png" alt="">
				<span>Выйти</span>
			</b-col>
      <b-col md="5" cols="5" sm="5" class="login_btn logout" v-if="$store.state.accountIn == true" @click="accountGo()">
				<img src="../assets/img/user.png" alt="">
				<span>Личный кабинет</span>
			</b-col>
      <b-col v-if="$store.state.accountIn == false" md="5" cols="5" sm="5" class="login_btn" @click="$emit('open')">
				<img src="../assets/img/user.png" alt="">
				<span >Войти в кабинет</span>
			</b-col>
		</b-col>
	</b-row>
</b-container>
</header>

</template>

<script>

export default {

  data(){
    return {
		headerActiveClass: "headerActive",
    activeLinkHeader: false,
	}
  },
  methods: {
    accountOut(){
      this.$router.push({name: "Home" });
      this.$store.state.accountIn = false
      localStorage.removeItem('usertoken')
    },
    accountGo(){
      this.$router.push({path: "/account"})
    }
  },
  mounted(){
    if(localStorage.usertoken){
      this.$store.state.accountIn = true
    }else{
      this.$store.state.accountIn = false
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

header{
	background-color: #fff;
	box-shadow: 0 0 25px rgba(0,0,0,0.2);
	width: 100%;
}

.logout{
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
}

.logo_blocks{
	margin: 0;
	padding: 0;
}

.logotip_descr{
  color: #a8b2b8;
  font-size: 14px;
  margin: 0;
  padding-top: 15px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.logotip{
	padding-bottom: 15px;
	padding-top: 25px;
	text-align: center;
}

.logotip>a>img{
  width: 100%;
}

.nav_menu>ul>li{
	display: inline;
	padding-right: 20px;
}

.nav_menu ul li a{
  font-family: "ProximaNovaBold";
  font-size: 18px;
  color: #000;
}

.nav_menu>ul{
	margin: 0;
	padding: 45px 0px;
	list-style-type: none;
	text-align: center;
}

.lang_block, .find_btn{
  display: inline-block;
}

.lang_block{
  border: 3px solid #f0f3f5;
  border-radius: 5px;
  padding: 10px 15px;
}

.find_btn{
  padding: 0px;
}
.lang_option{
  padding: 0px 15px;
}

.ipad_mob {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pd_0{
  padding: 0;
}

.login_btn{
  padding: 20px 20px;
  display: inline;
  background-image: url('../assets/img/login_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 'ProximaNovaBold';
  font-size: 12px;
  text-transform: uppercase;
  min-height: 50px;
  margin-left: 15px;
  min-width: 195px;
}
.headerActive{
	color: #84bd00!important;
}
.login_btn>span{
  padding-left: 15px;
}
.login_btn:hover{
  opacity: .7;
  transform: scale(0.9);
  -webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}
@media screen and (max-width: 480px){
	/* .logotip_descr{
		justify-content: center;
	} */
}
</style>
