<template>
<b-container>
  <b-row class="top_p">
    <b-col class="m_0" md="6">
      <div class="youtube-video">
        <iframe width="100%" height="150" src="https://www.youtube.com/embed/9ZSL_My0cRc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </b-col>
    <b-col class="m_0" md="6">
      <div class="youtube-video">
        <iframe width="100%" height="150" src="https://www.youtube.com/embed/etmD0dtSIeI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </b-col>
    <b-col class="m_0" md="6">
      <div class="youtube-video">
        <iframe width="100%" height="150" src="https://www.youtube.com/embed/dWO2Fsmfifo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </b-col>
    <b-col class="m_0" md="6">
      <div class="youtube-video">
        <iframe width="100%" height="150" src="https://www.youtube.com/embed/fG9hWf3ohUk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </b-col>
  </b-row>
</b-container>
</template>
<script>
export default {

}
</script>

<style>

  .m_0{
    margin: 0;
    padding-right: 0px!important;
    padding-left: 7px!important;
  }
</style>
