<template>
 <b-col md="4" sm="6" cols="12" class="link_style">
    <router-link :to="'/newsInner/' + newsProps.id" >
    <div class="news_items">
        <img :src="newsProps.image" alt="">
        <h3>{{ newsProps.name }}</h3>
        <p>{{ newsProps.short_description }}</p>

    </div>
    </router-link>
 </b-col>
</template>

<script>
export default {
    props: ['newsProps']
}
</script>

<style>
.link_style>a:hover{
    text-decoration: none;
}
.news_items{
    cursor: pointer;
}
.news_items>img{
    border-radius: 5px;
    width: 100%;
    height: 200px;
}
.news_items>h3{
    font-family: "ProximaNovaBold";
    padding-top: 20px;
    font-size: 18px;
    color: #000;
}
.news_items>p{
    color: #848c92;
    font-size: 14px;
    font-family: "ProximaNovaRegular";
}
.news_items>img{
    width: 100%;
}


</style>
