<template>
  <div class="about_descr">
    <h2>Что такое фитониринг</h2>
    <p>Лекарственные растительные препараты компании «Бионорика СЕ» производят по технологии, основанной на концепции фитониринга (phytoneering). Что такое фитониринг и в чем его принцип?</p>
    <p>Бессменный руководитель российского представительства «Бионорика СЕ» Маттиас Клаус отвечает на этот вопрос так: «Для лингвистов фитониринг – это сочетание слов phyto (растение) и engineering (инженерное искусство), для руководства – философия компании, для научных сотрудников – это золотой стандарт качества продуктов, а для тех, кто не хочет болеть, – это естественный способ оставаться здоровым».</p>
    <p>Председатель правления компании «Бионорика СЕ» профессор Михаэль Попп заметил: «Мы соединяем лучшее, на что способен сейчас человек, с лучшим из того, что может нам предложить природа». Компания располагает уникальными лабораториями, где не только проводятся испытания, рождаются инновационные разработки, но и происходит селекция собственного посевного материала. «Бионорика СЕ» разрабатывала свою запатентованную продукцию в течение нескольких десятилетий и создала строгие правила для стандартизации процессов выращивания и сбора лекарственных растений, а также выпуска готовой продукции.</p>
</div>
</template>

<script>
export default {

}
</script>

<style>

</style>
