<template>
   <div class="about_descr">
        <h2>Наша компания</h2>
        <p>«Бионорика СЕ» - ведущий мировой производитель лекарственных средств растительного происхождения. Для производства доступных и качественных препаратов «Бионорика» на протяжении уже 80 лет эффективно сочетает знания в области фитотерапии совместно с современными фармацевтическими исследованиями, которые являются основой нашего успеха, поэтому высокий процент от продаж «Бионорика СЕ» инвестирует именно в научные исследования и разработки. Основное внимание исследований сосредоточено на респираторных заболеваниях, гинекологии, урологии и боли.</p>
        <p>Из небольшой компании, которая была основана более 80 лет назад, «Бионорика СЕ» превратилась в сильную группу компаний, с офисами и партнерами практически на всех континентах. Поэтому мы можем назвать себя справедливо глобальным игроком на рынке фитопрепартатов.</p>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
