<template>
  <div class="about_descr">
      <h2>Фитониринг – формула успеха</h2>
      <p>«Бионорика» разрабатывает и производит высокоэффективные растительные лекарственные препараты, которые соответствуют современным требованиям мировых стандартов качества. В наших продуктах воплощены знания из области традиционных методов лечения лекарственными растениями и прогрессивные результаты научных исследований.</p>
      <h3>Происхождение фитониринга</h3>
      <p>Вот уже более 80 лет компания «Бионорика» разгадывает тайны природы, чтобы все больше и больше развивать и отлаживать производство высокоэффективных лекарственных препаратов на основе экстрактов растений. В результате непрерывной работы на протяжении десятилетий были созданы препараты высокого качества, такие как Синупрет®, Мастодинон®, Канефрон® Н и многие другие. «Бионорика» гордится своими истоками, а именно исследованиями и результатами работ основателя компании Йозефа Поппа, с которых все началось.</p>
      <h3>Фитониринг – это будущее</h3>
      <p>Создание будущего означает использование всех доступных возможностей. Фитониринг предлагает возможности для раскрытия и изучения новых лекарственных свойств растений и предоставляет варианты для их дальнейшего изучения и использования в современной медицине.</p>
      <h3>Фитониринг – это качество</h3>
      <p>Качество является одним из главных приоритетов деятельности компании, включающей исследования и, производств, о лекарственных средств. «Бионорика» придерживается самых высоких стандартов качества фитониринга: от выращивания семян до изготовления лекарственных средств.</p>
      <h3>Фитониринг – это исследования</h3>
      <p>С момента своего создания «Бионорика» является научно-исследовательской компанией. Большая часть успеха основана на доказательном подходе к разработке и созданию препаратов. Исследования свойств и характеристик используемых ингредиентов – движущая сила инноваций и постоянного улучшения растительных препаратов компании.</p>
      <h3>Фитониринг – это движение</h3>
      <p>Чтобы сохранять конкурентную способность компании на рынке, требуется высокая гибкость мышления и готовность отказаться от привычных позиций в меняющихся условиях, а также стремление к достижению новых целей. Фитониринг является мостом в будущее, которое только начинается. С каждым днем научная и производственная деятельность «Бионорики» все больше и больше развивается.</p>
      <h3>Фитониринг – это открытость</h3>
      <p>Концепция фитониринга ориентируется на лучшее качество продукта, что требует скрупулезного научно обоснованного подхода на всех этапах его создания.</p>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
