<template>
<div class="about_descr">
    <h2>Наша философия</h2>
    <p>«Бионорика» повышает уровень знаний об эффективности и высоком профиле безопасности лекарственных средств растительного происхождения в современной медицине. Благодаря фитонирингу мы раскрываем силу природы и помогаем людям стать здоровыми.</p>
    <p>Фитониринг – это сочетание даров и возможностей природы («фитос» – растение), а также науки и производственного процесса («инжениринг»), который играет важную роль в создании растительных лекарственных препаратов.</p>
    <p>Концепция фитониринга, которой руководствуется компания, позволяет раскрыть лечебный потенциал растений с помощью научных исследований и инновационных технологий. Фитониринг позволяет «Бионорике» разрабатывать и производить высокоэффективные и безопасные лекарственные средства в соответствии с современными требованиями науки и прогресса. «Бионорика» придерживается высоких стандартов качества на всех этапах производства и стремится к лидерству в растущем сегменте рынка фитомедицины.</p>
</div>
</template>

<script>
export default {

}
</script>

<style>

</style>
