<template>
   <div class="about_descr">
      <img src="../../assets/img/news_inner_img.png" alt="">
      <h2>Научные исследования</h2>
      <h3>Научные исследования – основа нашего успеха</h3>
      <p>Мы стремимся создавать лучшие продукты для наших потребителей и постоянно повышать их качество. Именно поэтому «Бионорика СЕ» инвестирует большой процент выручки в исследования и разработку лекарственных средств растительного происхождения.</p>
      <p>Более 80 лет мы раскрываем целебную силу природы. В центре нашего внимания находятся вопросы лечения респираторных, гинекологических, урологических и ревматических заболеваний. Кроме того, «Бионорика» разработала лекарственные препараты растительного происхождения, которые оказывают эффективную помощь при нарушении сна и заболеваниях печени.</p>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
