<template>
  <div class="about_descr">
      <img src="../../assets/img/history.png" alt="">
      <h2>Наша история</h2>
      <h3>1933–1970</h3>
      <p>В 1933 году Йозеф Попп, дед нынешнего председателя правления компании «Бионорика», профессора, доктора Михаэля А. Поппа, основал компанию «Бионорика». Йозеф Попп продавал первые лечебные растительные средства и около 400 различных видов чая, возглавляя компанию в течение 12 лет. В 1945 году бразды правления приняли его дети: фармацевт Эрна Попп и врач-натуропат Ханс-Оскар Попп. Под руководством двух человек компания продолжает развиваться: в 1961 году в «Бионорике» появляются машины для розлива лекарственных средств и наклейки этикеток, а также первые служащие.</p>
      <h3>1970–1980</h3>
      <p>В 70–80-е годы «Бионорика» продолжает свой рост и создает научно-консультационную сеть для оказания помощи практикующим врачам. Научные исследования приобретают все большее значение : «Бионорика» становится одной из первых фармацевтических компаний, проводящих исследования лекарственных растений по двойному слепому методу.</p>
      <h3>1980–1990</h3>
      <p>В 1988 году профессор Михаэль А. Попп, внук основателя компании, становится главой производственной компании «Бионорика Plantamed Arzneimittel». В то же время, производство компании переезжает из Нюрнберга в Ноймаркт. С 1989 года профессор Попп становится также генеральным директором компании «Бионорика GmbH». Профессор Попп продолжает взятый его прадедом курс на расширение компании и способствует проведению интенсивных исследований в области выращивания растений, аналитической методологии, фармакологии и токсикологии, а также клинических испытаний.</p>
      <h3>1990–2000</h3>
      <p>Благодаря активному сотрудничеству с национальными и международными партнерами по сбыту «Бионорика» расширяет свой бизнес, выводя его на международный уровень. В результате выхода компании за пределы Германии в Будапеште (Венгрия) были основаны компании Herbextract и Mediplant, управляющие собственными заводами. В рамках расширения партнерства по сбыту на Майорке была основана компания «Бионорика Extracts S. L.» для выращивания лекарственных растений и производства экстрактов.</p>
      <p>В 1996 году происходит значимое для исследовательской деятельности «Бионорики» событие: ученые обнаруживают доселе неизвестную, но весьма важную способность щавеля обыкновенного – оказание противовоспалительного эффекта, благодаря чему был разработан препарат Синупрет®. Кроме того, было открыто антивирусное действие первоцвета и вербены. Год спустя Синупрет® и Синупрет® Форте были зарегистрированы в Германии.</p>
      <p>В 1997 году «Бионорика» начинает выращивать собственный тимьян на о. Майорка, чтобы получить оптимальное сырье для производства препарата Бронхипрет®. Компания стандартизирует все производственные процессы по всему миру.</p>
      <p>В том же 1997 году «Бионорика» открыла представительство в Москве. Далее были открыты представительства в Минске и Алма-Ате.</p>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
