<template>
  <div id="app">
    <leavesAnimate></leavesAnimate>
    <headerComponents @open="showModal = !showModal"></headerComponents>
    <mainModal v-if="showModal" @close="showModal = false" @openAuto="showAutoModal = true, showModal = false" @closeReg="showModal = false"></mainModal>
    <autorizationModal v-if="showAutoModal" @closeAuto="showAutoModal = false" @openUn="showUndefinedModal = true, showAutoModal = false" ></autorizationModal>
    <undefinedModal v-if="showUndefinedModal" @closeUndefined="showUndefinedModal = false" @openNewPass="showNewPassModal = true, showUndefinedModal = false"></undefinedModal>
    <newPasswordModal v-if="showNewPassModal" @closeNewPass="showNewPassModal = false"></newPasswordModal>
    <router-view />
    <footerComponents></footerComponents>
  </div>
</template>
<script>
import headerComponents from "@/components/header.vue";
import footerComponents from "@/components/footer.vue";
import mainModal from "@/components/homePageModals/mainModal";
import autorizationModal from '@/components/homePageModals/autorizationModal';
import undefinedModal from '@/components/homePageModals/undefinedModal';
import leavesAnimate from '@/components/leavesAnimate';
import newPasswordModal from '@/components/homePageModals/newPasswordModal';
export default{
  components:{
    headerComponents,
    footerComponents,
    mainModal,
    autorizationModal,
    undefinedModal,
    newPasswordModal,
    leavesAnimate,

  },
  data(){
    return{
      showModal: false,
      showAutoModal: false,
      showUndefinedModal: false,
      showNewPassModal: false
    }
  }
}
</script>
<style lang="css" src="./media.css"></style>
<style>
@font-face {
	font-family: "ProximaNovaBold";
	src: url("./assets/fonts/ProximaNovaBold.otf");
}

@font-face {
	font-family: "ProximaNovaRegular";
	src: url("./assets/fonts/ProximaNovaRegular.otf");
}
h2{
  margin-block-start: 0.83em!important;
  margin-block-end: 0.83em!important;
  margin-inline-start: 0px!important;
  margin-inline-end: 0px!important;
  font-weight: bold;
}
p{
  margin-top: 1rem!important;
}

</style>
