/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.geo_block h2, .phone_block h2 {
		font-size: 18px;
		margin: 0;
		padding: 0;
	}
	.geo_block p, .phone_block p{
		font-size: 14px;
		margin: 0;
		padding: 0;
	}
	.prev, .next{
		top: 61%;
	}
	.login_btn{
		display: inline-block;
	}
	.ipad_mob{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.second_slider .slick-dots{
		position: absolute;
		/* bottom: -25px; */
		top: -10%;
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
		list-style: none;
		text-align: left;
		bottom: 380px;
		left: 0px!important;
	}
	.nav_menu>ul{
		padding: 35px;
	}
	.slider_descr>h2{
		margin: 0;
	}
	.find_btn {
		padding-bottom: 15px;
	}
	.oxygen_subs>a{
		padding: 0px 40px;
	}
	.h3_nav{
		font-size: 20px!important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.flower{
		display: none;
	}
	.ipad_mob{
		display: flex;
		text-align: center;
		padding-bottom: 20px;
	}
	.pd_0{
		margin-bottom: 10px;
	}
	.second_slider .slick-dots{
		top: 100%;
		left: 0px!important;
	}
	.login_btn{
		min-width: 175px;
	}
	.statia>a{
		padding: 15px!important;
	}
	.oxygen_subs>a{
		padding: 0!important;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.blog_items{
		margin-top: 25px;
	} 
	.blue_wrap_flex{
		display: 0;
	}
	.statia{
		margin-bottom: 50px;
	}
	.sec_next, .sec_prev{
		display: none!important;
	}
	.nav_menu>ul{
		display: grid;
	}
	.ipad_mob{
		padding-bottom: 0;
	}
	.slider_fitoring .slick-dots{
		padding-bottom: 125px!important;
	}
	.logotip_descr>p{
		padding-left: 35px;
	}
	.statia>a{
		padding: 15px;
	}
	.oxygen_subs>a{
		padding: 0;
	}
	.geo_block h2, .phone_block h2{
		font-size: 15px;
	}
	.ft_logo{
		text-align: center;
		padding-top: 15px;
	}
	.p_ft{
		text-align: center;
	}
	.blue_wrap_flex{
		padding-bottom: 20px;
	}
	.h3_nav{
		font-size: 20px!important;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	header{
		min-height: 330px;
	}
	.edit, .money, .album, .play_btn{
		width: 90%;
	}
	.row_m{
		padding-left: 15px;
	}
	.logotip_descr {
		justify-content: center;
		text-align: center;
	}
	.login_btn {
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
		margin-left: 0;
	}
	.slider_item_descr{
		background-position: 75% 0%;
		background-size: cover;
	}
	.slider_fitoring .slick-dots{
		padding: 0px 0px 100px 125px;
		bottom: 10px;
	}
	.statia{
		padding-bottom: 30px;
		margin-bottom: 30px;
	}
	.second_slider .slick-dots {
		bottom: -25px;
	}
	.oxygen{
		display: none;
	}
	.flower{
		display: none;
	}
	.form_subs>h2{
		text-align: center;
	}
	.blue_wrap{
		min-height: 500px;
		display: block;
		text-align: center;
	}
	.blue_wrap_flex{
		display: block;
	}
	.geo_block, .phone_block{
		text-align: center;
	}
	footer{
		text-align: center;
	}
	.geo_block{
		padding-top: 30px;
	}
	.ft_logo{
		padding-top: 45px;
	}
	.slider_descr>p{
		font-size: 14px;
		color: #000;
		/* margin-bottom: 60px; */
		text-align: center;
	}
	.slider_descr>h2{
		font-size: 25px;
	}
	.next>img, .prev>img{
		width: 35px;
	}
	.lang_block{
		margin: 10px 0px;
	}
	.nav_menu{
		margin-left: 10px;
	}
	.sec_prev, .sec_next{
		bottom: 1%;
	}
	.nav_menu>ul{
		padding: 0; 
	}
	.prev, .next{
		top: 57%!important;
	}
	.paginate_number{
		left: 40%!important;
		top: 99%!important;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.login_btn{
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
	}
	.lang_block{
		margin-left: 0px;
	}
	.slider_fitoring .slick-dots {
		padding: 0px 0px 0px 100px;
	}	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.oxygen_subs>a{
		padding: 13px 40px;
	}
	.slick-slide img{
		width: 100%;
	}
	
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}