<template>
<div>
    <div v-for="item in inner_items" :key="item.id" >
        <div class="product" v-if="item.id == $route.params.id">
            <div class="product_inner_img">
                <img src="../../assets/img/productInnerImg.png" alt="">
            </div>
            <h2>{{item.title}}</h2>
            <p>{{item.text}}</p>
            <h3>{{item.sub_title}}</h3>
            <p>{{item.sub_text}}</p>
            <ul class="product_inner_list">
                <li><img src="../../assets/img/li_green.png" alt=""><span class="listok">{{item.list_text}}</span></li>
                <li><img src="../../assets/img/li_green.png" alt=""><span class="listok">{{item.list_text2}}</span></li>
                <li><img src="../../assets/img/li_green.png" alt=""><span class="listok">{{item.list_text3}}</span></li>
                <li><img src="../../assets/img/li_green.png" alt=""><span class="listok">{{item.list_text4}}</span></li>
            </ul>
        </div>
    </div>
    <input type="checkbox" id="reg_checkbox" />
    <label for="reg_checkbox" class="product_inner_label">Инструкция к препарату</label>
    <div class="btn_in_inner_product">
        <a class="download_pdf" href="">Скачать pdf</a>
        <a class="expert_fitoring" href="">Стать экспертом Фитониринга®</a>
    </div>
</div>
</template>

<script>

export default {
    data(){
        return{
            inner_items: [
                {
                    id: 1,
                    title: "СИНУПРЕТ®1",
                    text: "Синупрет Форте – растительное лекарство, применяемое при болезнях околоносовых пазух. ... Назначается Синупрет Форте при острой или хронической форме воспаления придаточных пазух носа.",
                    sub_title: "Показания",
                    sub_text: "Компоненты, входящие в его состав, проявляют комплексную лечебную активность, которая заключается в противоотечном, секретолитическом (разжижающем слизь), противовоспалительном, противовирусном, иммуностимулирующем эффекте. ",
                    list_text:  'Вначале снижается иммунитет. Часто из-за переохлаждения, неправильного питания, недостатка сна и витаминов.',
                    list_text2: 'Вирусы и бактерии проникают в слизистую оболочку носа. Она воспаляется, возникает отек тканей.',
                    list_text3: 'Человек чихает, плохо себя чувствует, у него обильные выделения из носа. Это — ринит (в народе — насморк).',
                    list_text4: 'Очень быстро слизь в носу и околоносовых пазухах становится более вязкой, плохо выводится наружу. Бактерии и вирусы размножаются и всячески вредят организму.'
                },
                {
                    id: 2,
                    title: "СИНУПРЕТ®2",
                    text: "Синупрет Форте – растительное лекарство, применяемое при болезнях околоносовых пазух. ... Назначается Синупрет Форте при острой или хронической форме воспаления придаточных пазух носа.",
                    sub_title: "Показания",
                    sub_text: "Компоненты, входящие в его состав, проявляют комплексную лечебную активность, которая заключается в противоотечном, секретолитическом (разжижающем слизь), противовоспалительном, противовирусном, иммуностимулирующем эффекте. ",
                    list_text:  'Вначале снижается иммунитет. Часто из-за переохлаждения, неправильного питания, недостатка сна и витаминов.',
                    list_text2: 'Вирусы и бактерии проникают в слизистую оболочку носа. Она воспаляется, возникает отек тканей.',
                    list_text3: 'Человек чихает, плохо себя чувствует, у него обильные выделения из носа. Это — ринит (в народе — насморк).',
                    list_text4: 'Очень быстро слизь в носу и околоносовых пазухах становится более вязкой, плохо выводится наружу. Бактерии и вирусы размножаются и всячески вредят организму.'
                },
                {
                    id: 3,
                    title: "СИНУПРЕТ®3",
                    text: "Синупрет Форте – растительное лекарство, применяемое при болезнях околоносовых пазух. ... Назначается Синупрет Форте при острой или хронической форме воспаления придаточных пазух носа.",
                    sub_title: "Показания",
                    sub_text: "Компоненты, входящие в его состав, проявляют комплексную лечебную активность, которая заключается в противоотечном, секретолитическом (разжижающем слизь), противовоспалительном, противовирусном, иммуностимулирующем эффекте. ",
                    list_text:  'Вначале снижается иммунитет. Часто из-за переохлаждения, неправильного питания, недостатка сна и витаминов.',
                    list_text2: 'Вирусы и бактерии проникают в слизистую оболочку носа. Она воспаляется, возникает отек тканей.',
                    list_text3: 'Человек чихает, плохо себя чувствует, у него обильные выделения из носа. Это — ринит (в народе — насморк).',
                    list_text4: 'Очень быстро слизь в носу и околоносовых пазухах становится более вязкой, плохо выводится наружу. Бактерии и вирусы размножаются и всячески вредят организму.'
                },
                ]
        }
    },
    components: {
    
    }
}
</script>

<style>
.btn_in_inner_product{
    text-transform: uppercase;
    font-family: "ProximaNovaBold";
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 40px;
}
.download_pdf{
    background-image: url('../../assets/img/btn_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #84bd00;
    border-radius: 3px;
    color: #fff;
    padding: 15px 50px;
}
.expert_fitoring{
    padding: 15px 50px;
    background-image: url('../../assets/img/btn_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1d3474;
    border-radius: 3px;
    color: #fff;
}
.download_pdf:hover, .expert_fitoring:hover{
    text-decoration: none;
    color: #ccc;
}
.product_inner_label{
    font-size: 20px;
    font-family: "ProximaNovaRegular";
    color: #7d7c7c;
    padding-top: 20px;
}
.product_inner_label::before{
    margin-right: 18px;
}
.product_inner_img{
    display: flex;
    justify-content: center;
    border: 1px solid #cecece;
    border-radius: 10px;
}
.product_inner_img>img{
    padding: 40px 0px;
}
.product_inner_list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.listok{
    padding-left: 15px;
}
.product>h2{
    font-family: "ProximaNovaBold";
    font-size: 25px;
    color: #000;
}
.product>h3{
    font-family: "ProximaNovaBold";
    font-size: 20px;
    color: #000;
}
.product>p{
    color: #7d7c7c;
    font-size: 16px;
    font-family: "ProximaNovaRegular";
}
.listok{
    font-family: "ProximaNovaRegular";
    color: #7d7c7c;
    font-size: 16px;
}

</style>