<template>
    <b-col md="4" sm="6" cols="12" class="product_item">
        <router-link :to="productProps.link">
            <div class="product_item_descr">
                <img :src="productProps.img" alt="">
                <h3>{{productProps.title}}</h3>
            </div>
        </router-link>
    </b-col>
</template>

<script>
export default {
    data(){
        return{

        }
    },
    props: ['productProps']
}
</script>

<style>
    .product_item_descr{
        border: 1px solid #e8eaed;
        border-radius: 5px;
        margin-bottom: 30px;
    }
    .product_item_descr>img{
        display: flex;
        padding-top: 30px;
        padding-bottom: 40px;
        margin: auto;
        width: 100%;
    }
    .product_item_descr>h3{
        font-family: "ProximaNovaBold";
        font-size: 20px;
        color: #000;
        text-align: center;
        padding-bottom: 40px;
    }
</style>
