<template>
    <div>
        <paginate name="product_item" :list="product_item" :per="6" class="paginate-list">
            <b-row>
                <productComponent v-for="product in paginated('product_item')" :key="product.id" :productProps="product"></productComponent>
            </b-row>
        </paginate>
        <paginate-links for="product_item" :list="product_item" :show-step-links="false" :limit="2" class="paginate_number"></paginate-links>
    </div>
</template>

<script>
import productComponent from '@/components/productComponent/productComponent'

export default {
    data(){
        return{
            product_item: [
                {
                    id: 1,
                    title: 'Продукт 1',
                    img: require('../../assets/img/product_item.png'),
                    link: '/productinner/1'
                },
                {
                    id: 2,
                    title: 'Продукт 2',
                    img: require('../../assets/img/product_item.png'),
                    link: '/productinner/2'
                },
                {
                    id: 3,
                    title: 'Продукт 3',
                    img: require('../../assets/img/product_item.png'),
                    link: '/productinner/3'
                },
                {
                    id: 4,
                    title: 'Продукт 4',
                    img: require('../../assets/img/product_item.png'),
                    link: '/productinner/4'
                },
                {
                    id: 5,
                    title: 'Продукт 5',
                    img: require('../../assets/img/product_item.png'),
                    link: '/productinner/5'
                },
                {
                    id: 6,
                    title: 'Продукт 6',
                    img: require('../../assets/img/product_item.png'),
                    link: '/productinner/6'
                },
                {
                    id: 7,
                    title: 'Продукт 7',
                    img: require('../../assets/img/product_item.png'),
                    link: '/productinner/7'
                },
                {
                    id: 8,
                    title: 'Продукт 8',
                    img: require('../../assets/img/product_item.png'),
                    link: '/productinner/8'
                }
            ],
            paginate: ['product_item']
        }
    },
    components: {
        productComponent
    }
}
</script>

<style>

</style>